<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}GESCOST{% endblock %}</title>
    {% block stylesheets %}
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="{{ asset('easyadmin/plugins/font-awesome/css/font-awesome.css') }}" rel="stylesheet"/>
        <link href="{{ asset('easyadmin/plugins/simple-line-icons/simple-line-icons.min.css') }}" rel="stylesheet">
        <link href="{{ asset('easyadmin/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('easyadmin/plugins/uniform/css/uniform.default.css') }}" rel="stylesheet">
        <link href="{{ asset('easyadmin/plugins/bootstrap-switch/css/bootstrap-switch.css') }}" rel="stylesheet">
        <link href="{{ asset('easyadmin/tema/layout/css/themes/darkblue.css') }}" rel="stylesheet">
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN THEME STYLES -->
        <link href="{{ asset('easyadmin/global/css/components.css') }}" rel="stylesheet">
        <link href="{{ asset('easyadmin/global/css/plugins.css') }}" rel="stylesheet">
        <link href="{{ asset('easyadmin/tema/layout/css/layout.css') }}" rel="stylesheet">

        <!-- END THEME STYLES -->
        <link href="{{ asset('easyadmin/plugins/Alertify/css/alertify.css') }}" rel="stylesheet"/>
        <link href="{{ asset('easyadmin/plugins/Alertify/css/themes/default.css') }}" rel="stylesheet"/>
        <link href="{{ asset('easyadmin/global/css/estilos.css') }}" rel="stylesheet">
    {% endblock %}
    <link rel="icon" type="image/phg" sizes="32x32" href="{{ asset('images/favicon.png') }}"/>
</head>
<body class="page-header-fixed page-quick-sidebar-over-content page-full-width">
{% block nav %}
    <div class="page-header -i navbar navbar-fixed-top" style="color: #009490">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner">
            <!-- BEGIN LOGO -->
            <div class="page-logo" style="margin-left: 1%">
                <a href="{{ app.session.get('comprobacion') == true ? path('inicio') : path('inicio2') }}">
                    <img style="width: 250px" src="{{ asset('images/gescost_logo_horizontal.png') }}"
                         alt="GesCost Logo"/>
                </a>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN HORIZANTAL MENU -->
            <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
            <!-- DOC: This is desktop version of the horizontal menu. The mobile version is defined(duplicated) sidebar menu below. So the horizontal menu has 2 seperate versions -->
            <div class="hor-menu hidden-sm hidden-xs" style="margin-left: 10%">
                <ul class="nav navbar-nav">
                    <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the horizontal opening on mouse hover -->
                    <li class="classic-menu-dropdown">
                        <a data-toggle="dropdown" href="javascript:;" data-hover="megamenu-dropdown"
                           data-close-others="true">
                            PLAN <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            {% if is_granted("ROLE_DISTRIBUIDOR_PRINCIPAL") %}
                                {% for nivel in app.user.nivelAccesos() if nivel == 'ESTIMADO_INDICADORES' %}
                                    <li>
                                        <a href="{{ path('gestionarPlanesEstimados') }}">
                                            <i class="fa fa-exchange"></i> INICIO DEL PLAN </a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                            {% for nivel in app.user.nivelAccesos() if nivel == 'ESTIMADO_VENTAS' %}
                                <li class="dropdown-submenu">
                                    <a href="javascript:">
                                        <i class="fa fa-building"></i> PLAN DE VENTAS </a>
                                    <ul class="dropdown-menu">
                                        {% if (app.session.get('aprobarEstimadoVenta')) and is_granted("ROLE_DISTRIBUIDOR_DIVISION") %}
                                            <li>
                                                <a href="{{ path('gestionarEstimadoPlanVentasDivision') }}">
                                                    <i class="fa fa-cog"></i> DIVISIÓN </a>
                                            </li>
                                        {% endif %}
                                        {% if (app.session.get('aprobarEstimadoVentaMes')) and is_granted("ROLE_DISTRIBUIDOR_CENTRO") %}
                                            <li>
                                                <a href="{{ path('gestionarEstimadoPlanVentasCentroCosto') }}">
                                                    <i class="fa fa-cog"></i> CENTRO DE COSTO </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </li>
                            {% endfor %}
                            {% for nivel in app.user.nivelAccesos() if nivel == 'ESTIMADO_OTROS_INGRESOS' %}
                                <li class="dropdown-submenu">
                                    <a href="javascript:">
                                        <i class="fa fa-building"></i> OTROS INGRESOS </a>
                                    <ul class="dropdown-menu">
                                        {% if (app.session.get('aprobarEstimadoOtroIngreso')) and is_granted("ROLE_DISTRIBUIDOR_DIVISION") %}
                                            <li>
                                                <a href="{{ path('gestionarEstimadoPlanOtrosIngresosDivision') }}">
                                                    <i class="fa fa-cog"></i> DIVISIÓN </a>
                                            </li>
                                        {% endif %}
                                        {% if (app.session.get('aprobarEstimadoOtroIngresoDivision')) and is_granted("ROLE_DISTRIBUIDOR_CENTRO") %}
                                            <li>
                                                <a href="{{ path('gestionarEstimadoPlanOtrosIngresosCentroCosto') }}">
                                                    <i class="fa fa-cog"></i> CENTRO DE COSTO </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </li>
                            {% endfor %}
                            {% for nivel in app.user.nivelAccesos() if nivel == 'ESTIMADO_RECURSOS_HUMANOS' %}
                                <li class="dropdown-submenu">
                                    <a href="javascript:">
                                        <i class="fa fa-building"></i> RECURSOS HUMANOS </a>
                                    <ul class="dropdown-menu">
                                        {% if (app.session.get('aprobarEstimadoRecursosHumanos')) and is_granted("ROLE_DISTRIBUIDOR_DIVISION") %}
                                            <li>
                                                <a href="{{ path('gestionarEstimadoPlanFondosDivision') }}">
                                                    <i class="fa fa-cog"></i> DIVISIÓN </a>
                                            </li>
                                        {% endif %}
                                        {% if (app.session.get('aprobarEstimadoFondoCentroCosto')) and is_granted("ROLE_DISTRIBUIDOR_CENTRO") %}
                                            <li>
                                                <a href="{{ path('gestionarEstimadoPlanFondosCentroCosto') }}">
                                                    <i class="fa fa-cog"></i> CENTRO DE COSTO </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </li>
                            {% endfor %}
                            {% for nivel in app.user.nivelAccesos() if nivel == 'ESTIMADO_ENERGIA' %}
                                <li class="dropdown-submenu">
                                    <a href="javascript:">
                                        <i class="fa fa-building"></i> PLAN DE ENERGÍA </a>
                                    <ul class="dropdown-menu">
                                        {% for nivel in app.user.nivelAccesos() if nivel == 'PRECIO_ENERGIA' %}
                                            <li>
                                                <a href="{{ path('gestionarEnergias') }}">
                                                    <i class="fa fa-folder-open"></i> PRECIO
                                                </a>
                                            </li>
                                        {% endfor %}
                                        {% if (app.session.get('aprobarEstimadoEnergia')) and is_granted("ROLE_DISTRIBUIDOR_DIVISION") %}
                                            <li>
                                                <a href="{{ path('gestionarEstimadoPlanEnergiasDivision') }}">
                                                    <i class="fa fa-cog"></i> DIVISIÓN </a>
                                            </li>
                                        {% endif %}
                                        {% if (app.session.get('aprobarEstimadoEnergiaCentroCosto')) and is_granted("ROLE_DISTRIBUIDOR_CENTRO") %}
                                            <li>
                                                <a href="{{ path('gestionarEstimadoPlanEnergiasCentroCosto') }}">
                                                    <i class="fa fa-cog"></i> CENTRO DE COSTO </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </li>
                            {% endfor %}
                            {% for nivel in app.user.nivelAccesos() if nivel == 'ESTIMADO_OTROS_GASTOS' %}
                                <li class="dropdown-submenu">
                                    <a href="javascript:">
                                        <i class="fa fa-building"></i> PLAN DE OTROS GASTOS </a>
                                    <ul class="dropdown-menu">
                                        {% for nivel in app.user.nivelAccesos() if nivel == 'OTROS_GASTOS' %}
                                            <li>
                                                <a href="{{ path('gestionarOtrosGastos') }}">
                                                    <i class="fa fa-folder-open"></i> NOMENCLADOR
                                                </a>
                                            </li>
                                        {% endfor %}
                                        {% if (app.session.get('aprobarEstimadoOtrosGastos')) and is_granted("ROLE_DISTRIBUIDOR_DIVISION") %}
                                            <li>
                                                <a href="{{ path('gestionarEstimadoPlanOtrosGastos') }}">
                                                    <i class="fa fa-cog"></i> SERVICIOS </a>
                                            </li>
                                        {% endif %}
                                        {% if (app.session.get('aprobarEstimadoOtrosGastosDivision')) and is_granted("ROLE_DISTRIBUIDOR_DIVISION") %}
                                            <li>
                                                <a href="{{ path('gestionarEstimadoPlanOtrosGastosDivision') }}">
                                                    <i class="fa fa-cog"></i> DIVISIÓN </a>
                                            </li>
                                        {% endif %}
                                        {% if (app.session.get('aprobarEstimadoOtrosGastosCentroCosto')) and is_granted("ROLE_DISTRIBUIDOR_CENTRO") %}
                                            <li>
                                                <a href="{{ path('gestionarEstimadoPlanOtrosGastosCentroCosto') }}">
                                                    <i class="fa fa-cog"></i> CENTRO DE COSTO </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </li>
                            {% endfor %}
                            {% for nivel in app.user.nivelAccesos() if nivel == 'ESTIMADO_MATERIAS_PRIMAS' %}
                                <li class="dropdown-submenu">
                                    <a href="javascript:">
                                        <i class="fa fa-building"></i> PLAN DE MATERIAS PRIMAS </a>
                                    <ul class="dropdown-menu">
                                        {% if (app.session.get('aprobarEstimadoMateriaPrima')) and is_granted("ROLE_DISTRIBUIDOR_DIVISION") %}
                                            <li>
                                                <a href="{{ path('gestionarEstimadoPlanMateriasPrimasDivision') }}">
                                                    <i class="fa fa-cog"></i> DIVISIÓN </a>
                                            </li>
                                        {% endif %}
                                        {% if (app.session.get('aprobarEstimadoMateriaPrimaDivision')) and is_granted("ROLE_DISTRIBUIDOR_CENTRO") %}
                                            <li>
                                                <a href="{{ path('gestionarEstimadoPlanMateriasPrimasCentroCosto') }}">
                                                    <i class="fa fa-cog"></i> CENTRO DE COSTO </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </li>
                            {% endfor %}
                            {% for nivel in app.user.nivelAccesos() if nivel == 'ESTIMADO_DEPRECIACION' %}
                                <li class="dropdown-submenu">
                                    <a href="javascript:">
                                        <i class="fa fa-building"></i> PLAN DE DEPRECIACIÓN </a>
                                    <ul class="dropdown-menu">
                                        {% if (app.session.get('aprobarEstimadoDepreciacion')) and is_granted("ROLE_DISTRIBUIDOR_DIVISION") %}
                                            <li>
                                                <a href="{{ path('gestionarEstimadoPlanDepreciacionesDivision') }}">
                                                    <i class="fa fa-cog"></i> DIVISIÓN </a>
                                            </li>
                                        {% endif %}
                                        {% if (app.session.get('aprobarEstimadoDepreciacionDivision')) and is_granted("ROLE_DISTRIBUIDOR_CENTRO") %}
                                            <li>
                                                <a href="{{ path('gestionarEstimadoPlanDepreciacionesCentroCosto') }}">
                                                    <i class="fa fa-cog"></i> CENTRO DE COSTO </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </li>
                            {% endfor %}
                            {% for nivel in app.user.nivelAccesos() if nivel == 'ESTIMADO_BONIFICACION' %}
                                <li class="dropdown-submenu">
                                    <a href="javascript:">
                                        <i class="fa fa-building"></i> PLAN DE BONIFICACIÓN </a>
                                    <ul class="dropdown-menu">
                                        {% if (app.session.get('aprobarEstimadoBonificacion')) and is_granted("ROLE_DISTRIBUIDOR_DIVISION") %}
                                            <li>
                                                <a href="{{ path('gestionarEstimadoPlanBonificacionesDivision') }}">
                                                    <i class="fa fa-cog"></i> DIVISIÓN </a>
                                            </li>
                                        {% endif %}
                                        {% if (app.session.get('aprobarEstimadoBonificacionDivision')) and is_granted("ROLE_DISTRIBUIDOR_CENTRO") %}
                                            <li>
                                                <a href="{{ path('gestionarEstimadoPlanBonificacionesCentroCosto') }}">
                                                    <i class="fa fa-cog"></i> CENTRO DE COSTO </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </li>
                            {% endfor %}
                            {% for nivel in app.user.nivelAccesos() if nivel == 'ESTIMADO_COMEDOR' %}
                                <li class="dropdown-submenu">
                                    <a href="javascript:">
                                        <i class="fa fa-building"></i> PLAN DE GASTOS DE COMEDOR </a>
                                    <ul class="dropdown-menu">
                                        {% if (app.session.get('aprobarEstimadoComedor')) and is_granted("ROLE_DISTRIBUIDOR_DIVISION") %}
                                            <li>
                                                <a href="{{ path('gestionarEstimadoPlanComedoresDivision') }}">
                                                    <i class="fa fa-cog"></i> DIVISIÓN </a>
                                            </li>
                                        {% endif %}
                                        {% if (app.session.get('aprobarEstimadoComedorDivision')) and is_granted("ROLE_DISTRIBUIDOR_CENTRO") %}
                                            <li>
                                                <a href="{{ path('gestionarEstimadoPlanComedoresCentroCosto') }}">
                                                    <i class="fa fa-cog"></i> CENTRO DE COSTO </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </li>
                            {% endfor %}
                            {% if (app.session.get('aprobarEstimadoCombustible')) %}
                                {% for nivel in app.user.nivelAccesos() if nivel == 'ESTIMADO_COMBUSTIBLE' %}
                                    <li class="dropdown-submenu">
                                        <a href="javascript:">
                                            <i class="fa fa-building"></i> PLAN DE COMBUSTIBLE </a>
                                        <ul class="dropdown-menu">
                                            {% if (app.session.get('aprobarEstimadoCombustible')) and is_granted("ROLE_DISTRIBUIDOR_DIVISION") %}
                                                <li>
                                                    <a href="{{ path('gestionarEstimadoCombustiblesMediosTransportes') }}">
                                                        <i class="fa fa-automobile"></i> COMBUSTIBLE </a>
                                                </li>
                                            {% endif %}
                                            {% if (app.session.get('aprobarEstimadoLubricante')) and is_granted("ROLE_DISTRIBUIDOR_DIVISION") %}
                                                <li>
                                                    <a href="{{ path('gestionarEstimadoLubricantesMediosTransportes') }}">
                                                        <i class="fa fa-tint"></i> ACEITE </a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </li>
                    <li class="classic-menu-dropdown">
                        <a data-toggle="dropdown" href="javascript:;" data-hover="megamenu-dropdown"
                           data-close-others="true">
                            REAL
                            {% if (app.session.get('inicioPlanReal')) and is_granted("ROLE_INICIO_CIERRE_REAL") %}
                                <i class="fa fa-angle-down"></i>
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu pull-left">
                            {% if (app.session.get('inicioPlanReal')) and is_granted("ROLE_INICIO_CIERRE_REAL") %}
                                {% for nivel in app.user.nivelAccesos() if nivel == 'REAL' %}
                                    <li>
                                        <a href="{{ path('gestionarPlanesReales') }}">
                                            <i class="fa fa-building"></i> REAL </a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </li>
                    {% if is_granted("ROLE_ADMINISTRADOR") or is_granted("ROLE_SUPERUSUARIO") or is_granted("ROLE_ESTADISTICO") %}
                        <li class="classic-menu-dropdown">
                            <a data-toggle="dropdown" href="javascript:;" data-hover="megamenu-dropdown"
                               data-close-others="true">
                                REPORTES <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-left">
                                <li>
                                    <a href="{{ path('exportarAnalisisPlan') }}">
                                        <i class="fa fa-file-excel-o"></i> ÁNALISIS PLAN FINANCIERO </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if is_granted("ROLE_ADMINISTRADOR") or is_granted("ROLE_SUPERUSUARIO") or is_granted("ROLE_NOMENCLADOR") %}
                        <li class="classic-menu-dropdown">
                            <a data-toggle="dropdown" href="javascript:;" data-hover="megamenu-dropdown"
                               data-close-others="true">
                                NOMENCLADORES <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-left">
                                {% for nivel in app.user.nivelAccesos() if nivel == 'PLANTILLA_CARGOS' %}
                                    <li class="dropdown-submenu">
                                        <a href="javascript:">
                                            <i class="fa fa-building"></i> RECURSOS HUMANOS </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="{{ path('gestionarPromedioTrabajadores') }}">
                                                    <i class="fa fa-cog"></i> PROMEDIO DE TRABAJADORES </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('gestionarDenominadorCargos') }}">
                                                    <i class="fa fa-cog"></i> DENOMINADOR DE CARGOS </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('gestionarTiposPlantillas') }}">
                                                    <i class="fa fa-cog"></i> TIPO DE PLANTILLA DE CARGOS </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('gestionarPlantillaCargos') }}">
                                                    <i class="fa fa-cog"></i> PLANTILLA DE CARGOS </a>
                                            </li>
                                        </ul>
                                    </li>
                                {% endfor %}
                                {% for nivel in app.user.nivelAccesos() if nivel == 'PLANTILLA_TRANSPORTE' %}
                                    <li class="dropdown-submenu">
                                        <a href="javascript:">
                                            <i class="fa fa-automobile"></i> TRANSPORTE </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="{{ path('gestionarTiposTransportes') }}">
                                                    <i class="fa fa-folder-open"></i> TIPOS DE TRANSPORTES</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('gestionarModelosTransportes') }}">
                                                    <i class="fa fa-folder-open"></i> MODELOS DE TRANSPORTES</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('gestionarTiposCombustibles') }}">
                                                    <i class="fa fa-folder-open"></i> TIPOS DE COMBUSTIBLES</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('gestionarLubricantes') }}">
                                                    <i class="fa fa-folder-open"></i> ACEITES Y LUBRICANTES</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('gestionarTransportes') }}">
                                                    <i class="fa fa-folder-open"></i> PLANTILLA TRANSPORTES</a>
                                            </li>
                                        </ul>
                                    </li>
                                {% endfor %}
                                {% for nivel in app.user.nivelAccesos() if nivel == 'ADMINISTRACION' %}
                                    <li>
                                        <a href="{{ path('gestionarDivisionCentrosCostos') }}">
                                            <i class="fa fa-folder-open"></i> GESTIONAR DIVISIONES</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('gestionarCentrosCostos') }}">
                                            <i class="fa fa-folder-open"></i> GESTIONAR CENTROS DE COSTOS</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('gestionarIndicadores') }}">
                                            <i class="fa fa-folder-open"></i> GESTIONAR INDICADORES</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('gestionarMateriasPrimas') }}">
                                            <i class="fa fa-folder-open"></i> GESTIONAR MATERIAS PRIMAS Y MATERIALES</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('gestionarDepreciaciones') }}">
                                            <i class="fa fa-folder-open"></i> GESTIONAR DEPRECIACIÓN
                                            Y AMORTIZACIÓN
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('gestionarTiposServicios') }}">
                                            <i class="fa fa-folder-open"></i> GESTIONAR TIPOS DE SERVICIOS
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('gestionarOtrosGastos') }}">
                                            <i class="fa fa-folder-open"></i> GESTIONAR OTROS GASTOS MONETARIOS
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% for nivel in app.user.nivelAccesos() if nivel == 'ADMINISTRACION' %}
                            <li class="classic-menu-dropdown">
                                <a data-toggle="dropdown" href="javascript:;" data-hover="megamenu-dropdown"
                                   data-close-others="true">
                                    ADMINISTRACIÓN <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu pull-left">
                                    <li>
                                        <a href="{{ path('gestionarUsuarios') }}">
                                            <i class="fa fa-users"></i> GESTIONAR USUARIOS </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('trazas') }}">
                                            <i class="fa fa-eye"></i> TRAZAS</a>
                                    </li>
                                    <li>
                                        <a href="#" id="inicioBase" name="inicioBase">
                                            <i class="fa fa-recycle"></i> INICIALIZAR</a>
                                    </li>
                                </ul>
                            </li>
                        {% endfor %}
                    {% endif %}
                    <li class="classic-menu-dropdown">
                        <a data-toggle="dropdown" href="javascript:;" data-hover="megamenu-dropdown"
                           data-close-others="true">
                            AYUDA <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li>
                                <a href="{{ asset('ayuda/index.html') }}" target="_blank">
                                    <i class="icon icon-question"></i> AYUDA EN LÍNEA </a>
                            </li>
                            <li>
                                <a href="{{ asset('pdf/ManualGESCOST.pdf') }}" target="_blank">
                                    <i class="fa fa-file-pdf-o"></i> AYUDA EN PDF </a>
                            </li>
                            <li>
                                <a class="acerca" href="#">
                                    <i class="fa fa-lightbulb-o"></i> ACERCA DE ...</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- END HORIZANTAL MENU -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse"
               data-target=".navbar-collapse">
            </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown dropdown-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                           data-close-others="true">
                            <span class="username username-hide-on-mobile">Bienvenido: {{ app.user.nombreCompleto() }}</span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="{{ path('passwordForm') }}">
                                    <i class="icon-key"></i>Cambiar Contraseña</a>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                    <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-quick-sidebar-toggler">
                        <a href="{{ path('logout') }}" class="dropdown-toggle">
                            <i class="icon-logout"></i>
                        </a>
                    </li>
                    <!-- END QUICK SIDEBAR TOGGLER -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <div class="clearfix">
    </div>
{% endblock %}

<!-- BEGIN CONTENT -->
<div class="page-container">
    {% block responsiveNav %}
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <!-- BEGIN HORIZONTAL RESPONSIVE MENU -->
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <div class="page-sidebar navbar-collapse collapse">
                <ul class="page-sidebar-menu" data-slide-speed="200" data-auto-scroll="true">
                    <li>
                        <a>
                            PLAN <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="sub-menu">
                            {% if is_granted("ROLE_DISTRIBUIDOR_PRINCIPAL") %}
                                {% for nivel in app.user.nivelAccesos() if nivel == 'ESTIMADO_INDICADORES' %}
                                    <li>
                                        <a href="{{ path('gestionarPlanesEstimados') }}">
                                            <i class="fa fa-exchange"></i> INICIO PLAN </a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                            {% for nivel in app.user.nivelAccesos() if nivel == 'ESTIMADO_VENTAS' %}
                                <li>
                                    <a href="javascript:">
                                        <i class="fa fa-building"></i> PLAN DE VENTAS <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        {% if (app.session.get('aprobarEstimadoVenta')) and is_granted("ROLE_DISTRIBUIDOR_DIVISION") %}
                                            <li>
                                                <a href="{{ path('gestionarEstimadoPlanVentasDivision') }}">
                                                    <i class="fa fa-cog"></i> DIVISIÓN </a>
                                            </li>
                                        {% endif %}
                                        {% if (app.session.get('aprobarEstimadoVentaMes')) and is_granted("ROLE_DISTRIBUIDOR_CENTRO") %}
                                            <li>
                                                <a href="{{ path('gestionarEstimadoPlanVentasCentroCosto') }}">
                                                    <i class="fa fa-cog"></i> CENTRO DE COSTO </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </li>
                            {% endfor %}
                            {% for nivel in app.user.nivelAccesos() if nivel == 'ESTIMADO_OTROS_INGRESOS' %}
                                <li>
                                    <a href="javascript:">
                                        <i class="fa fa-building"></i> OTROS INGRESOS <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        {% if (app.session.get('aprobarEstimadoOtroIngreso')) and is_granted("ROLE_DISTRIBUIDOR_DIVISION") %}
                                            <li>
                                                <a href="{{ path('gestionarEstimadoPlanOtrosIngresosDivision') }}">
                                                    <i class="fa fa-cog"></i> DIVISIÓN </a>
                                            </li>
                                        {% endif %}
                                        {% if (app.session.get('aprobarEstimadoOtroIngresoDivision')) and is_granted("ROLE_DISTRIBUIDOR_CENTRO") %}
                                            <li>
                                                <a href="{{ path('gestionarEstimadoPlanOtrosIngresosCentroCosto') }}">
                                                    <i class="fa fa-cog"></i> CENTRO DE COSTO </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </li>
                            {% endfor %}
                            {% for nivel in app.user.nivelAccesos() if nivel == 'ESTIMADO_RECURSOS_HUMANOS' %}
                                <li>
                                    <a href="javascript:">
                                        <i class="fa fa-building"></i> RECURSOS HUMANOS <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        {% if (app.session.get('aprobarEstimadoFondo')) and is_granted("ROLE_DISTRIBUIDOR_DIVISION") %}
                                            <li>
                                                <a href="{{ path('gestionarEstimadoPlanFondosDivision') }}">
                                                    <i class="fa fa-cog"></i> DIVISIÓN </a>
                                            </li>
                                        {% endif %}
                                        {% if (app.session.get('aprobarEstimadoFondoCentroCosto')) and is_granted("ROLE_DISTRIBUIDOR_CENTRO") %}
                                            <li>
                                                <a href="{{ path('gestionarEstimadoPlanFondosCentroCosto') }}">
                                                    <i class="fa fa-cog"></i> CENTRO DE COSTO </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </li>
                            {% endfor %}
                            {% for nivel in app.user.nivelAccesos() if nivel == 'ESTIMADO_ENERGIA' %}
                                <li>
                                    <a href="javascript:">
                                        <i class="fa fa-building"></i> PLAN DE ENERGÍA <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        {% for nivel in app.user.nivelAccesos() if nivel == 'PRECIO_ENERGIA' %}
                                            <li>
                                                <a href="{{ path('gestionarEnergias') }}">
                                                    <i class="fa fa-folder-open"></i> PRECIO
                                                </a>
                                            </li>
                                        {% endfor %}
                                        {% if (app.session.get('aprobarEstimadoEnergia')) and is_granted("ROLE_DISTRIBUIDOR_DIVISION") %}
                                            <li>
                                                <a href="{{ path('gestionarEstimadoPlanEnergiasDivision') }}">
                                                    <i class="fa fa-cog"></i> DIVISIÓN </a>
                                            </li>
                                        {% endif %}
                                        {% if (app.session.get('aprobarEstimadoEnergiaCentroCosto')) and is_granted("ROLE_DISTRIBUIDOR_CENTRO") %}
                                            <li>
                                                <a href="{{ path('gestionarEstimadoPlanEnergiasCentroCosto') }}">
                                                    <i class="fa fa-cog"></i> CENTRO DE COSTO </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </li>
                            {% endfor %}
                            {% for nivel in app.user.nivelAccesos() if nivel == 'ESTIMADO_OTROS_GASTOS' %}
                                <li>
                                    <a href="javascript:">
                                        <i class="fa fa-building"></i> PLAN DE OTROS GASTOS <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        {% for nivel in app.user.nivelAccesos() if nivel == 'OTROS_GASTOS' %}
                                            <li>
                                                <a href="{{ path('gestionarOtrosGastos') }}">
                                                    <i class="fa fa-folder-open"></i> NOMENCLADOR
                                                </a>
                                            </li>
                                        {% endfor %}
                                        {% if (app.session.get('aprobarEstimadoOtrosGastos')) and is_granted("ROLE_DISTRIBUIDOR_DIVISION") %}
                                            <li>
                                                <a href="{{ path('gestionarEstimadoPlanOtrosGastos') }}">
                                                    <i class="fa fa-cog"></i> SERVICIOS </a>
                                            </li>
                                        {% endif %}
                                        {% if (app.session.get('aprobarEstimadoOtrosGastosDivision')) and is_granted("ROLE_DISTRIBUIDOR_DIVISION") %}
                                            <li>
                                                <a href="{{ path('gestionarEstimadoPlanOtrosGastosDivision') }}">
                                                    <i class="fa fa-cog"></i> DIVISIÓN </a>
                                            </li>
                                        {% endif %}
                                        {% if (app.session.get('aprobarEstimadoOtrosGastosCentroCosto')) and is_granted("ROLE_DISTRIBUIDOR_CENTRO") %}
                                            <li>
                                                <a href="{{ path('gestionarEstimadoPlanOtrosGastosCentroCosto') }}">
                                                    <i class="fa fa-cog"></i> CENTRO DE COSTO </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </li>
                            {% endfor %}
                            {% for nivel in app.user.nivelAccesos() if nivel == 'ESTIMADO_MATERIAS_PRIMAS' %}
                                <li>
                                    <a href="javascript:">
                                        <i class="fa fa-building"></i> PLAN DE MATERIAS PRIMAS <span
                                                class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        {% if (app.session.get('aprobarEstimadoMateriaPrima')) and is_granted("ROLE_DISTRIBUIDOR_DIVISION") %}
                                            <li>
                                                <a href="{{ path('gestionarEstimadoPlanMateriasPrimasDivision') }}">
                                                    <i class="fa fa-cog"></i> DIVISIÓN </a>
                                            </li>
                                        {% endif %}
                                        {% if (app.session.get('aprobarEstimadoMateriaPrimaDivision')) and is_granted("ROLE_DISTRIBUIDOR_CENTRO") %}
                                            <li>
                                                <a href="{{ path('gestionarEstimadoPlanMateriasPrimasCentroCosto') }}">
                                                    <i class="fa fa-cog"></i> CENTRO DE COSTO </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </li>
                            {% endfor %}
                            {% for nivel in app.user.nivelAccesos() if nivel == 'ESTIMADO_DEPRECIACION' %}
                                <li>
                                    <a href="javascript:">
                                        <i class="fa fa-building"></i> PLAN DE DEPRECIACIÓN <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        {% if (app.session.get('aprobarEstimadoDepreciacion')) and is_granted("ROLE_DISTRIBUIDOR_DIVISION") %}
                                            <li>
                                                <a href="{{ path('gestionarEstimadoPlanDepreciacionesDivision') }}">
                                                    <i class="fa fa-cog"></i> DIVISIÓN </a>
                                            </li>
                                        {% endif %}
                                        {% if (app.session.get('aprobarEstimadoDepreciacionDivision')) and is_granted("ROLE_DISTRIBUIDOR_CENTRO") %}
                                            <li>
                                                <a href="{{ path('gestionarEstimadoPlanDepreciacionesCentroCosto') }}">
                                                    <i class="fa fa-cog"></i> CENTRO DE COSTO </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </li>
                            {% endfor %}
                            {% for nivel in app.user.nivelAccesos() if nivel == 'ESTIMADO_BONIFICACION' %}
                                <li>
                                    <a href="javascript:">
                                        <i class="fa fa-building"></i> PLAN DE BONIFICACIÓN <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        {% if (app.session.get('aprobarEstimadoBonificacion')) and is_granted("ROLE_DISTRIBUIDOR_DIVISION") %}
                                            <li>
                                                <a href="{{ path('gestionarEstimadoPlanBonificacionesDivision') }}">
                                                    <i class="fa fa-cog"></i> DIVISIÓN </a>
                                            </li>
                                        {% endif %}
                                        {% if (app.session.get('aprobarEstimadoBonificacionDivision')) and is_granted("ROLE_DISTRIBUIDOR_CENTRO") %}
                                            <li>
                                                <a href="{{ path('gestionarEstimadoPlanBonificacionesCentroCosto') }}">
                                                    <i class="fa fa-cog"></i> CENTRO DE COSTO </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </li>
                            {% endfor %}
                            {% for nivel in app.user.nivelAccesos() if nivel == 'ESTIMADO_COMEDOR' %}
                                <li>
                                    <a href="javascript:">
                                        <i class="fa fa-building"></i> PLAN DE GASTOS DE COMEDOR <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        {% if (app.session.get('aprobarEstimadoComedor')) and is_granted("ROLE_DISTRIBUIDOR_DIVISION") %}
                                            <li>
                                                <a href="{{ path('gestionarEstimadoPlanComedoresDivision') }}">
                                                    <i class="fa fa-cog"></i> DIVISIÓN </a>
                                            </li>
                                        {% endif %}
                                        {% if (app.session.get('aprobarEstimadoComedorDivision')) and is_granted("ROLE_DISTRIBUIDOR_CENTRO") %}
                                            <li>
                                                <a href="{{ path('gestionarEstimadoPlanComedoresCentroCosto') }}">
                                                    <i class="fa fa-cog"></i> CENTRO DE COSTO </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </li>
                            {% endfor %}
                            {% if app.session.get('aprobarEstimadoCombustible') %}
                                {% for nivel in app.user.nivelAccesos() if nivel == 'ESTIMADO_COMBUSTIBLE' %}
                                    <li>
                                        <a href="javascript:">
                                            <i class="fa fa-building "></i> PLAN DE COMBUSTIBLE <span
                                                    class="arrow"></span>
                                        </a>
                                        <ul class="sub-menu">
                                            {% if (app.session.get('aprobarEstimadoCombustible')) and is_granted("ROLE_DISTRIBUIDOR_DIVISION") %}
                                                <li>
                                                    <a href="{{ path('gestionarEstimadoCombustiblesMediosTransportes') }}">
                                                        <i class="fa fa-automobile"></i> COMBUSTIBLE </a>
                                                </li>
                                            {% endif %}
                                            {% if (app.session.get('aprobarEstimadoLubricante')) and is_granted("ROLE_DISTRIBUIDOR_DIVISION") %}
                                                <li>
                                                    <a href="{{ path('gestionarEstimadoLubricantesMediosTransportes') }}">
                                                        <i class="fa fa-tint"></i> ACEITE </a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </li>
                    <li>
                        <a>
                            REAL
                            {% if (app.session.get('inicioPlanReal')) and is_granted("ROLE_INICIO_CIERRE_REAL") %}
                                <i class="fa fa-angle-down"></i>
                            {% endif %}
                        </a>
                        <ul class="sub-menu">
                            {% if (app.session.get('inicioPlanReal')) and is_granted("ROLE_INICIO_CIERRE_REAL") %}
                                {% for nivel in app.user.nivelAccesos() if nivel == 'REAL' %}
                                    <li>
                                        <a href="{{ path('gestionarPlanesReales') }}">
                                            <i class="fa fa-building"></i> REAL
                                        </a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </li>
                    {% if is_granted("ROLE_ADMINISTRADOR") or is_granted("ROLE_SUPERUSUARIO") or is_granted("ROLE_ROLE_ESTADISTICO") %}
                        <li>
                            <a>
                                REPORTES <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="{{ path('gestionarPlanesEstimados') }}">
                                        <i class="fa fa-file-excel-o"></i> ÁNALISIS PLAN FINANCIERO </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if is_granted("ROLE_ADMINISTRADOR") or is_granted("ROLE_SUPERUSUARIO") or is_granted("ROLE_NOMENCLADOR") %}
                        <li>
                            <a>
                                NOMENCLADORES <i class="fa fa-angle-down"></i>
                            </a>

                            <ul class="sub-menu">
                                {% for nivel in app.user.nivelAccesos() if nivel == 'PLANTILLA_CARGOS' %}
                                    <li>
                                        <a href="javascript:">
                                            <i class="fa fa-building"></i> RECURSOS HUMANOS <span
                                                    class="arrow"></span>
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="{{ path('gestionarPromedioTrabajadores') }}">
                                                    <i class="fa fa-cog"></i> PROMEDIO DE TRABAJADORES </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('gestionarDenominadorCargos') }}">
                                                    <i class="fa fa-cog"></i> DENOMINADOR DE CARGOS </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('gestionarTiposPlantillas') }}">
                                                    <i class="fa fa-cog"></i> TIPO DE PLANTILLA DE CARGOS </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('gestionarPlantillaCargos') }}">
                                                    <i class="fa fa-cog"></i> PLANTILLA DE CARGOS </a>
                                            </li>
                                        </ul>
                                    </li>
                                {% endfor %}
                                {% for nivel in app.user.nivelAccesos() if nivel == 'PLANTILLA_TRANSPORTE' %}
                                    <li>
                                        <a href="javascript:">
                                            <i class="fa fa-automobile"></i> TRANSPORTE <span
                                                    class="arrow"></span>
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="{{ path('gestionarTiposTransportes') }}">
                                                    <i class="fa fa-folder-open"></i> TIPOS DE TRANSPORTES</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('gestionarModelosTransportes') }}">
                                                    <i class="fa fa-folder-open"></i> MODELOS DE TRANSPORTES</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('gestionarTiposCombustibles') }}">
                                                    <i class="fa fa-folder-open"></i> TIPOS DE COMBUSTIBLES</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('gestionarLubricantes') }}">
                                                    <i class="fa fa-folder-open"></i> ACEITES Y LUBRICANTES</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('gestionarTransportes') }}">
                                                    <i class="fa fa-folder-open"></i> PLANTILLA TRANSPORTES</a>
                                            </li>
                                        </ul>
                                    </li>
                                {% endfor %}
                                {% for nivel in app.user.nivelAccesos() if nivel == 'ADMINISTRACION' %}
                                    <li>
                                        <a href="{{ path('gestionarDivisionCentrosCostos') }}">
                                            <i class="fa fa-folder-open"></i> GESTIONAR DIVISIONES</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('gestionarCentrosCostos') }}">
                                            <i class="fa fa-folder-open"></i> GESTIONAR CENTROS DE COSTOS</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('gestionarIndicadores') }}">
                                            <i class="fa fa-folder-open"></i> GESTIONAR INDICADORES</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('gestionarMateriasPrimas') }}">
                                            <i class="fa fa-folder-open"></i> GESTIONAR MATERIAS PRIMAS Y MATERIALES</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('gestionarDepreciaciones') }}">
                                            <i class="fa fa-folder-open"></i> GESTIONAR DEPRECIACIÓN
                                            Y AMORTIZACIÓN
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('gestionarTiposServicios') }}">
                                            <i class="fa fa-folder-open"></i> GESTIONAR TIPOS DE SERVICIOS
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('gestionarOtrosGastos') }}">
                                            <i class="fa fa-folder-open"></i> GESTIONAR OTROS GASTOS MONETARIOS
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% for nivel in app.user.nivelAccesos() if nivel == 'ADMINISTRACION' %}
                            <li>
                                <a>
                                    ADMINISTRACION <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="{{ path('gestionarUsuarios') }}">
                                            <i class="fa fa-users"></i> GESTIONAR USUARIOS </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('trazas') }}">
                                            <i class="fa fa-eye"></i> TRAZAS</a>
                                    </li>
                                </ul>
                            </li>
                        {% endfor %}
                    {% endif %}
                    <li>
                        <a>
                            AYUDA <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="{{ asset('ayuda/index.html') }}" target="_blank">
                                    <i class="icon icon-question"></i> AYUDA EN LÍNEA </a>
                            </li>
                            <li>
                                <a href="{{ asset('pdf/ManualGESCOST.pdf') }}" target="_blank">
                                    <i class="fa fa-file-pdf-o"></i> AYUDA EN PDF</a>
                            </li>
                            <li>
                                <a class="acerca" href="#">
                                    <i class="fa fa-lightbulb-o"></i> ACERCA DE ...</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            {{ include('Nomencladores/GestionIniciarProcesos/modalProcesos.html.twig') }}
        </div>
        <!-- END HORIZONTAL RESPONSIVE MENU -->
        <!-- END SIDEBAR -->
    {% endblock %}
    <div class="page-content-wrapper">
        <div class="page-content" style="margin-top: -20px">
            {% block info %}{% endblock %}
            {% block body %}{% endblock %}
        </div>
    </div>
</div>

<!-- END CONTENT -->

{% block footer %}
    <!-- BEGIN FOOTER -->
    <div class="page-footer">
        <div class="page-footer-inner col-lg-offset-5  col-md-offset-3  col-sm-offset-3">
            <strong>SISTEMA INTEGRAL PARA LA GESTIÓN DE COSTOS DE LOS CENTROS Y SERVICIOS DE ECODIC</strong>
            <br>Copyright 2020 &copy; Todos los derechos reservados
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <!-- END FOOTER -->
{% endblock %}
{% block javascripts %}
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <script src="{{ asset('easyadmin/global/js/jquery.min.js') }}"></script>
    <script src="{{ asset('easyadmin/global/js/jquery-migrate.min.js') }}"></script>
    <!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="{{ asset('easyadmin/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('easyadmin/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('easyadmin/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js') }}"></script>
    <script src="{{ asset('easyadmin/plugins/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ asset('easyadmin/global/js/jquery.blockui.min.js') }}"></script>
    <script src="{{ asset('easyadmin/global/js/jquery.cokie.min.js') }}"></script>
    <script src="{{ asset('easyadmin/plugins/uniform/jquery.uniform.min.js') }}"></script>
    <script src="{{ asset('easyadmin/plugins/bootstrap-switch/js/bootstrap-switch.min.js') }}"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{{ asset('easyadmin/global/js/metronic.js') }}"></script>
    <script src="{{ asset('easyadmin/tema/layout/scripts/layout.js') }}"></script>
    <script src="{{ asset('easyadmin/tema/layout/scripts/quick-sidebar.js') }}"></script>
    <script src="{{ asset('easyadmin/tema/layout/scripts/demo.js') }}"></script>
    <script src="{{ asset('easyadmin/inicio/index.js') }}"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script src="{{ asset('easyadmin/plugins/Alertify/alertify.js') }}"></script>
    <script src="{{ asset('easyadmin/global/js/moment.js') }}"></script>
    <script src="{{ asset('easyadmin/global/js/formatoTipos.js') }}"></script>
    <script src="{{ asset('easyadmin/global/js/functionsAll.js') }}"></script>
    <script>
        alertify.confirm()
            .setting({
                'defaultFocus': 'cancel',
                'labels': {ok: 'Aceptar', cancel: 'Cancelar'},
                'modal': true
            }).setHeader('<span class="glyphicon glyphicon-alert" style="font-size: 20px"></span>' +
            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Confirmación</h4>');
        $('[data-toggle="tooltip"]').tooltip();
        $(document).ready(function () {
            Metronic.init(); // init metronic core componets
            Layout.init(); // init layout
            QuickSidebar.init(); // init quick sidebar
            Demo.init(); // init demo features
            Index.init();

            $('.acerca').on("click", function () {
                alertify.alert('<h3>Versión 20230104.</h3>')
                    .setHeader('<span class="glyphicon glyphicon-info-sign" style="font-size: 20px"></span>' +
                        '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Información</h4>')
                    .set('label', 'Aceptar');

            });

            var ventas, otrosIngresos, salario, combustible, aceite, energia, otrosGastos, materiasPrimas, bonificacion, comedor,
                depreciacion = 0;

            $('#inicioBase').on('click', function () {
                $('#modalProcesos').modal('show');
            });

            $('.checkProcesos').on('change', function () {
                var existe = 0;
                $(this).each(function () {
                    if ($(this).prop('checked')) {
                        existe++;
                        return false;
                    }
                });
                if (existe == 0) {
                    $("#btnIniciarProcesos").prop('disabled', true);
                } else {
                    $("#btnIniciarProcesos").prop('disabled', false);
                }
            });

            $('#btnIniciarProcesos').on('click', function () {
                $('#modalProcesos').modal('hide');
                alertify.confirm('Basic: false').set('message', '<strong>Seguro que desea inicializar los procesos seleccionados</strong>').set('onok', function () {

                    if ($('#procVentas').prop('checked')) {
                        ventas = 1;
                    }
                    if ($('#procOtrosIngresos').prop('checked')) {
                        otrosIngresos = 1;
                    }
                    if ($('#procSalario').prop('checked')) {
                        salario = 1;
                    }
                    if ($('#procCombustible').prop('checked')) {
                        combustible = 1;
                    }
                    if ($('#procAceite').prop('checked')) {
                        aceite = 1;
                    }
                    if ($('#procEnergia').prop('checked')) {
                        energia = 1;
                    }
                    if ($('#procOtrosGastos').prop('checked')) {
                        otrosGastos = 1;
                    }
                    if ($('#procMateriasPrimas').prop('checked')) {
                        materiasPrimas = 1;
                    }
                    if ($('#procDepreciacion').prop('checked')) {
                        depreciacion = 1;
                    }
                    if ($('#procBonificacion').prop('checked')) {
                        bonificacion = 1;
                    }
                    if ($('#procComedor').prop('checked')) {
                        comedor = 1;
                    }

                    $(".preload").removeClass('hidden');

                    var mat_datos = {
                        ventas: ventas,
                        otrosIngresos: otrosIngresos,
                        salario: salario,
                        combustible: combustible,
                        aceite: aceite,
                        energia: energia,
                        otrosGastos: otrosGastos,
                        materiasPrimas: materiasPrimas,
                        depreciacion: depreciacion,
                        bonificacion: bonificacion,
                        comedor: comedor
                    };
                    $.ajax({
                        type: "POST",
                        dataType: "html",
                        url: '{{ path("inicializarProcesosPlan") }}',
                        data: mat_datos
                    }).done(function (data) {

                        $(".preload").addClass('hidden');
                        if (data === 'ok') {

                            alertify.alert('<strong>Los procesos del plan seleccionados han sido inicializados correctamente</strong>')
                                .setHeader('<span class="glyphicon glyphicon-ok-circle" style="font-size: 20px"></span>' +
                                    '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Confirmación</h4>')
                                .set('label', 'Aceptar')
                                .set('onok', function () {
                                    window.location.href = "{{ path('inicio') }}";
                                });
                        } else {
                            alertify.alert('<strong>' + data + '</strong>')
                                .setHeader('<span class="glyphicon glyphicon-ok-circle" style="font-size: 20px"></span>' +
                                    '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Confirmación</h4>')
                                .set('label', 'Aceptar')
                        }
                    });
                });
            });


        });
    </script>
{% endblock %}
</body>
</html>
