{% extends 'Dashboards/baseDashboard.html.twig' %}

{% block body %}
    <div class="preload hidden">
        <div class="logo"></div>
        <div class="loader-frame">
            <div class="loader1" id="loader1"></div>
            <div class="loader2" id="loader2"></div>
        </div>
    </div>
    <!-- BEGIN ROW -->
    <div id="dashboardAmortizacion" style="display:none">
        <div class="row" style="margin-top: 40px">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <!-- BEGIN CHART PORTLET-->
                <div class="portlet light bordered sombreado">
                    <div class="portlet-title">
                        <div class="caption">
                            <span id="nameAmortizacionMostrar" class="caption-subject bold uppercase font-green-haze"> DISTRIBUCIÓN AMORTIZACIÓN</span>
                        </div>
                        <div class="tools">
                             <a href="{{ path('exportarPlanEstimadoAmortizacion') }}" class="fa fa-file-excel-o fa-2x font-green" data-toggle="tooltip" data-placement="left" title="Exportar a Excel">  </a>
                             <a href="#" class="reload hidden" id="btnAtrasAmortizacion" data-placement="top" data-original-title="Regresar"></a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="graficoAmortizacion" class="chart" style="height: 250px;">
                        </div>
                    </div>
                </div>
                <!-- END CHART PORTLET-->
            </div>
        </div>
        <div class="row" style="margin-top: 40px">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <!-- BEGIN CHART PORTLET-->
                <div class="portlet light bordered sombreado">
                    <div class="portlet-title">
                        <div class="caption">
                            <span id="nameAmortizacionMensual" class="caption-subject bold uppercase font-green-haze"> DISTRIBUCIÓN MENSUAL DE AMORTIZACIÓN</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="graficoAmortizacionMensual" class="chart" style="height: 250px;">
                        </div>
                    </div>
                </div>
                <!-- END CHART PORTLET-->
            </div>
        </div>
    </div>
    <!-- END ROW -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        jQuery(document).ready(function () {

            (function () {
                {% if not (app.user.isActive) %}
                window.location.href = "{{ path('login') }}";
                {% endif %}
            })();

            // jQuery counterUp
            $('[data-toggle="counter-up"]').counterUp({
                delay: 10,
                time: 1000
            });

            //Declaracion de variables
            var divisionCentroCosto = '';
            var centroCosto = '';
            var idCentroCosto = 0;
            var n;
            //Amortizacion
            var totalEstimadoAmortizacionDivision = [];
            var totalEstimadoAmortizacionDivisionMes = [];
            var totalEstimadoAmortizacionCentroCosto = [];
            var totalEstimadoAmortizacionCentroCostoMes = [];

            //Dashboard de gestion de Ventas
            $('#linkVenta').on("click", function () {
                window.location.href = "{{ path('dashboardEstimadoPlanVenta') }}";
            });

            //Dashboard de gestion de Otros Ingresos
            $('#linkOtroIngreso').on("click", function () {
                window.location.href = "{{ path('dashboardEstimadoPlanOtroIngreso') }}";
            });

            //Dashboard de Fondo de Salario
            $('#linkSalario').on("click", function () {
                window.location.href = "{{ path('dashboardEstimadoPlanSalario') }}";
            });

            //Dashboard de gestion de Combustible
            $('#linkCombustible').on("click", function () {
                window.location.href = "{{ path('dashboardEstimadoPlanCombustible') }}";
            });

            //Dashboard gestion de Energía
            $('#linkEnergia').on("click", function () {
                window.location.href = "{{ path('dashboardEstimadoPlanEnergia') }}";
            });

            //Dashboard gestion de Otros Gastos
            $('#linkOtroGastos').on("click", function () {
                window.location.href = "{{ path('dashboardEstimadoPlanOtrosGastos') }}";
            });

            //Dashboard de gestion de Materias Primas
            $('#linkMateriasPrimas').on("click", function () {
                window.location.href = "{{ path('dashboardEstimadoPlanMateriasPrimas') }}";
            });

            //Dashboard de gestion de Depreciación
            $('#linkDepreciacion').on("click", function () {
                window.location.href = "{{ path('dashboardEstimadoPlanDepreciacion') }}";
            });

            //Dashboard de gestion de Bonificación
            $('#linkBonificacion').on("click", function () {
                window.location.href = "{{ path('dashboardEstimadoPlanBonificacion') }}";
            });

            //Dashboard de gestion de Gastos de comedor
            $('#linkComedor').on("click", function () {
                window.location.href = "{{ path('dashboardEstimadoPlanComedor') }}";
            });

            //Dashboard de Gasto Material
            $('#linkGastoMaterial').on("click", function () {
                window.location.href = "{{ path('dashboardEstimadoPlanGastoMaterial') }}";
            });

            //Dashboard de gestion de Amortización
            $('#linkAmortizacion').on("click", function () {
                $('#dashboardAmortizacion').css("display", "block");
                graficoTotalEstimadoAmortizacionDivision();
                graficoTotalEstimadoAmortizacionDivisionMes();
            });

            $('#btnAtrasAmortizacion').on("click", function () {
                $('#btnAtrasAmortizacion').addClass('hidden');
                graficoTotalEstimadoAmortizacionDivision();
                inicioMensualAmortizacion();
                graficoTotalEstimadoAmortizacionDivisionMes();
                $('#nameAmortizacionMostrar').text(' DISTRIBUCIÓN DEL PLAN DE AMORTIZACIÓN POR DIVISIONES');
                $('#nameAmortizacionMensual').text(' DISTRIBUCIÓN MENSUAL DEL PLAN DE AMORTIZACIÓN');
            });

            //Grafico principal de ventas por divisiones
            {% for graficoTotal in graficosTotalesEstimadosDivisionesAmortizaciones %}
                    totalEstimadoAmortizacionDivision.push({
                        name: '{{ graficoTotal['nombre'] }}',
                        y: parseInt('{{ graficoTotal['totalAmortizacion'] }}')
                    });
            {% endfor %}

            //Grafico principal de ventas por meses
            {% for graficoTotal in graficosTotalesEstimadosMesesAmortizaciones %}
                    totalEstimadoAmortizacionDivisionMes.push({
                        name: '{{ graficoTotal['mes'] }}',
                        y: parseInt('{{ graficoTotal['presupuesto'] }}')
                    });
            {% endfor %}

            $('#dashboardAmortizacion').css("display", "block");
            graficoTotalEstimadoAmortizacionDivision();
            graficoTotalEstimadoAmortizacionDivisionMes();

            //Inicio grafico mensual de ventas
            function inicioMensualAmortizacion() {
                totalEstimadoAmortizacionDivisionMes = [];
                {% for graficoTotal in graficosTotalesEstimadosMesesAmortizaciones %}
                        totalEstimadoAmortizacionDivisionMes.push({
                        name: '{{ graficoTotal['mes'] }}',
                        y: parseInt('{{ graficoTotal['presupuesto'] }}')
                        });
                {% endfor %}
            }

            //Grafico general Plan de Ventas por divisiones
            function graficoTotalEstimadoAmortizacionDivision() {
                var valorMax = totalEstimadoAmortizacionDivision.length - 1;
                var valorScrollbar = false;
                if (totalEstimadoAmortizacionDivision.length > 6) {
                    valorMax = 5;
                    valorScrollbar = true;
                }
                Highcharts.chart('graficoAmortizacion', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: null
                    },
                    exporting: {
                        enabled: false
                    },
                    scrollbar: {
                        enabled: valorScrollbar,
                        liveRedraw: true,
                        step: 1
                    },
                    xAxis: {
                        type: 'category',
                        min: 0,
                        max: valorMax,
                        useHTML: true
                    },
                    yAxis: {
                        title: {
                            text: 'Presupuesto Estimado',
                            useHTML: true
                        }

                    },
                    legend: {
                        enabled: false
                    },
                    plotOptions: {
                        series: {
                            borderWidth: 0,
                            allowPointSelect: true,
                            cursor: 'pointer',
                            getExtremesFromAll: true,
                            dataLabels: {
                                enabled: true,
                                formatter: function () {
                                    return Highcharts.numberFormat(this.y, 0, ',', '.');
                                }
                            }
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                        pointFormat: '<span style="color:{point.color}">{point.name}</span>' + ' presupuesto asignado ' + '<b>{point.y:,.0f}</b>'
                    },

                    "series": [
                        {
                            "name": "Categorías",
                            "colorByPoint": true,
                            "data": totalEstimadoAmortizacionDivision,
                            events: {
                                click: function (oEvent) {
                                    cargarDivisionAmortizacion(oEvent.point.name, oEvent.point.y, oEvent.point.color);
                                }
                            }
                        }
                    ],
                    responsive: {
                        rules: [{
                            condition: {
                                maxWidth: 800
                            },
                            chartOptions: {
                                scrollbar: {
                                    enabled: true
                                },
                                xAxis: {
                                    min: 0,
                                    max: 1,
                                    useHTML: true
                                }
                            }
                        }]
                    }
                });
            }

            //Cargar el plan de ventas de la division seleccionada
            function cargarDivisionAmortizacion(categoria, presupuesto, colorSeleccionado) {

                var idDivisionCentroCosto = '';

                //mostrar el total del presupuesto
                {% for division in divisionCentrosCostos %}
                    divisionCentroCosto = '{{ division.nombre }}';
                    if (divisionCentroCosto === categoria) {
                        idDivisionCentroCosto = {{ division.id }};
                    }
                {% endfor %}

                //mostrar si existe el grafico mensual

                $(".preload").removeClass('hidden');

                var mat_datos = {
                    idPlanEstimado: {{ app.session.get('idPlanEstimado') }},
                    division: idDivisionCentroCosto
                };

                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: '{{ path("dashboardAmortizacionEstimadoDivisionMensual") }}',
                    data: mat_datos
                }).done(function (data) {

                    $(".preload").addClass('hidden');
                    var obj = JSON.parse(data);
                    var divisionMensual = obj['divisionMensual'];
                    var divisionCantroCosto = obj['divisionCentroCosto'];

                    totalEstimadoAmortizacionDivisionMes = [];
                    for (n = 0; n < divisionMensual.length; n++) {
                        totalEstimadoAmortizacionDivisionMes.push({
                            name: divisionMensual[n]['mes'],
                            y: parseFloat(divisionMensual[n]['totalAmortizacion']),
                            color: colorSeleccionado
                        });
                    }

                    totalEstimadoAmortizacionCentroCosto = [];
                    for (n = 0; n < divisionCantroCosto.length; n++) {
                        totalEstimadoAmortizacionCentroCosto.push({
                            name: divisionCantroCosto[n]['nombre'],
                            y: parseFloat(divisionCantroCosto[n]['totalAmortizacion']),
                            color: colorSeleccionado
                        });
                    }

                    $('#nameAmortizacionMostrar').text(' DISTRIBUCIÓN DEL PLAN DE AMORTIZACIÓN EN LOS CENTROS DE COSTOS DE LA ' + categoria);
                    $('#nameAmortizacionMensual').text(' DISTRIBUCIÓN MENSUAL DEL PLAN DE AMORTIZACIÓN EN LA ' + categoria);
                    $('#btnAtrasAmortizacion').removeClass('hidden');

                    graficoTotalEstimadoAmortizacionDivisionMes();
                    graficoTotalEstimadoAmortizacionCentroCosto();

                });
            }

            //Grafico Plan de Ventas Mensual por divisiones
            function graficoTotalEstimadoAmortizacionDivisionMes() {
                var valorMax = totalEstimadoAmortizacionDivisionMes.length - 1;
                var valorScrollbar = false;
                if (totalEstimadoAmortizacionDivisionMes.length > 6) {
                    valorMax = 5;
                    valorScrollbar = true;
                }
                Highcharts.chart('graficoAmortizacionMensual', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: null
                    },
                    exporting: {
                        enabled: false
                    },
                    scrollbar: {
                        enabled: valorScrollbar,
                        liveRedraw: true,
                        step: 1
                    },
                    xAxis: {
                        type: 'category',
                        min: 0,
                        max: valorMax,
                        useHTML: true
                    },
                    yAxis: {
                        title: {
                            text: 'Presupuesto Estimado',
                            useHTML: true
                        }

                    },
                    legend: {
                        enabled: false
                    },
                    plotOptions: {
                        series: {
                            borderWidth: 0,
                            allowPointSelect: true,
                            cursor: 'pointer',
                            getExtremesFromAll: true,
                            dataLabels: {
                                enabled: true,
                                formatter: function () {
                                    return Highcharts.numberFormat(this.y, 0, ',', '.');
                                }
                            }
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                        pointFormat: '<span style="color:{point.color}">{point.name}</span>' + ' presupuesto asignado ' + '<b>{point.y:,.0f}</b>'
                    },

                    "series": [
                        {
                            "name": "Categorías",
                            "colorByPoint": true,
                            "data": totalEstimadoAmortizacionDivisionMes
                        }
                    ],
                    responsive: {
                        rules: [{
                            condition: {
                                maxWidth: 800
                            },
                            chartOptions: {
                                scrollbar: {
                                    enabled: true
                                },
                                xAxis: {
                                    min: 0,
                                    max: 1,
                                    useHTML: true
                                }
                            }
                        }]
                    }
                });
            }

            //Cargar el plan de ventas de la division seleccionada
            function cargarCentroCostoAmortizacion(categoria, presupuesto, colorSeleccionado) {

                //mostrar el total del presupuesto
                {% for centro in centrosCostos %}
                    centroCosto = '{{ centro.nombre }}';
                    if (centroCosto === categoria) {
                        idCentroCosto = {{ centro.id }};
                    }
                {% endfor %}

                //mostrar si existe el grafico mensual

                $(".preload").removeClass('hidden');

                var mat_datos = {
                    idPlanEstimado: {{ app.session.get('idPlanEstimado') }},
                    centro: idCentroCosto
                };

                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: '{{ path("dashboardAmortizacionEstimadoCentroCostoMensual") }}',
                    data: mat_datos
                }).done(function (data) {

                    $(".preload").addClass('hidden');
                    var obj = JSON.parse(data);

                    totalEstimadoAmortizacionCentroCostoMes = [];
                    for (n = 0; n < obj.length; n++) {
                        totalEstimadoAmortizacionCentroCostoMes.push({
                            name: obj[n]['mes'],
                            y: parseFloat(obj[n]['totalAmortizacion']),
                            color: colorSeleccionado
                        });
                    }

                    $('#nameAmortizacionMensual').text(' DISTRIBUCIÓN MENSUAL DEL PLAN DE AMORTIZACIÓN EN EL ' + categoria);
                    $('#btnAtrasAmortizacion').removeClass('hidden');

                    graficoTotalEstimadoAmortizacionCentroCostoMes();

                });
            }

            //Grafico 2do nivel Plan de Ventas por centro de costos
            function graficoTotalEstimadoAmortizacionCentroCosto() {
                var valorMax = totalEstimadoAmortizacionCentroCosto.length - 1;
                var valorScrollbar = false;
                if (totalEstimadoAmortizacionCentroCosto.length > 6) {
                    valorMax = 5;
                    valorScrollbar = true;
                }
                Highcharts.chart('graficoAmortizacion', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: null
                    },
                    exporting: {
                        enabled: false
                    },
                    scrollbar: {
                        enabled: valorScrollbar,
                        liveRedraw: true,
                        step: 1
                    },
                    xAxis: {
                        type: 'category',
                        min: 0,
                        max: valorMax,
                        useHTML: true
                    },
                    yAxis: {
                        title: {
                            text: 'Presupuesto Estimado',
                            useHTML: true
                        }

                    },
                    legend: {
                        enabled: false
                    },
                    plotOptions: {
                        series: {
                            borderWidth: 0,
                            allowPointSelect: true,
                            cursor: 'pointer',
                            getExtremesFromAll: true,
                            dataLabels: {
                                enabled: true,
                                formatter: function () {
                                    return Highcharts.numberFormat(this.y, 0, ',', '.');
                                }
                            }
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                        pointFormat: '<span style="color:{point.color}">{point.name}</span>' + ' presupuesto asignado ' + '<b>{point.y:,.0f}</b>'
                    },

                    "series": [
                        {
                            "name": "Categorías",
                            "colorByPoint": true,
                            "data": totalEstimadoAmortizacionCentroCosto,
                            events: {
                                click: function (oEvent) {
                                    cargarCentroCostoAmortizacion(oEvent.point.name, oEvent.point.y, oEvent.point.color);
                                }
                            }
                        }
                    ],
                    responsive: {
                        rules: [{
                            condition: {
                                maxWidth: 800
                            },
                            chartOptions: {
                                scrollbar: {
                                    enabled: true
                                },
                                xAxis: {
                                    min: 0,
                                    max: 1,
                                    useHTML: true
                                }
                            }
                        }]
                    }
                });
            }

             //Grafico mensual plan de ventas del centro de costo seleccionado
            function graficoTotalEstimadoAmortizacionCentroCostoMes() {
                var valorMax = totalEstimadoAmortizacionCentroCostoMes.length - 1;
                var valorScrollbar = false;
                if (totalEstimadoAmortizacionCentroCostoMes.length > 6) {
                    valorMax = 5;
                    valorScrollbar = true;
                }
                Highcharts.chart('graficoAmortizacionMensual', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: null
                    },
                    exporting: {
                        enabled: false
                    },
                    scrollbar: {
                        enabled: valorScrollbar,
                        liveRedraw: true,
                        step: 1
                    },
                    xAxis: {
                        type: 'category',
                        min: 0,
                        max: valorMax,
                        useHTML: true
                    },
                    yAxis: {
                        title: {
                            text: 'Presupuesto Estimado',
                            useHTML: true
                        }

                    },
                    legend: {
                        enabled: false
                    },
                    plotOptions: {
                        series: {
                            borderWidth: 0,
                            allowPointSelect: true,
                            cursor: 'pointer',
                            getExtremesFromAll: true,
                            dataLabels: {
                                enabled: true,
                                formatter: function () {
                                    return Highcharts.numberFormat(this.y, 0, ',', '.');
                                }
                            }
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                        pointFormat: '<span style="color:{point.color}">{point.name}</span>' + ' presupuesto asignado ' + '<b>{point.y:,.0f}</b>'
                    },

                    "series": [
                        {
                            "name": "Categorías",
                            "colorByPoint": true,
                            "data": totalEstimadoAmortizacionCentroCostoMes
                        }
                    ],
                    responsive: {
                        rules: [{
                            condition: {
                                maxWidth: 800
                            },
                            chartOptions: {
                                scrollbar: {
                                    enabled: true
                                },
                                xAxis: {
                                    min: 0,
                                    max: 1,
                                    useHTML: true
                                }
                            }
                        }]
                    }
                });
            }

            //Fin del dashboard de la gestion de Amortización


        });
    </script>

{% endblock %}