{% extends 'Dashboards/baseDashboard.html.twig' %}

{% block body %}
    <div class="preload hidden">
        <div class="logo"></div>
        <div class="loader-frame">
            <div class="loader1" id="loader1"></div>
            <div class="loader2" id="loader2"></div>
        </div>
    </div>
    <!-- BEGIN ROW -->
    <div id="dashboardBonificacion">
        <div class="row" style="margin-top: 40px">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <!-- BEGIN CHART PORTLET-->
                <div class="portlet light bordered sombreado">
                    <div class="portlet-title">
                        <div class="caption">
                            <span id="nameBonificacionMostrar" class="caption-subject bold uppercase font-green-haze"> DISTRIBUCIÓN BONIFICACIÓN</span>
                        </div>
                        <div class="tools">
                             <a href="{{ path('exportarPlanEstimadoBonificacion') }}" class="fa fa-file-excel-o fa-2x font-green" data-toggle="tooltip" data-placement="left" title="Exportar a Excel">  </a>
                             <a href="#" class="reload hidden" id="btnAtrasBonificacion" data-placement="top" data-original-title="Regresar"></a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="graficoBonificacion" class="chart" style="height: 250px;">
                        </div>
                    </div>
                </div>
                <!-- END CHART PORTLET-->
            </div>
        </div>
        <div class="row" style="margin-top: 40px">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <!-- BEGIN CHART PORTLET-->
                <div class="portlet light bordered sombreado">
                    <div class="portlet-title">
                        <div class="caption">
                            <span id="nameBonificacionMensual" class="caption-subject bold uppercase font-green-haze"> DISTRIBUCIÓN MENSUAL DE BONIFICACIÓN</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="graficoBonificacionMensual" class="chart" style="height: 250px;">
                        </div>
                    </div>
                </div>
                <!-- END CHART PORTLET-->
            </div>
        </div>
    </div>
    <!-- END ROW -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        jQuery(document).ready(function () {

            (function () {
                {% if not (app.user.isActive) %}
                window.location.href = "{{ path('login') }}";
                {% endif %}
            })();

            // jQuery counterUp
            $('[data-toggle="counter-up"]').counterUp({
                delay: 10,
                time: 1000
            });

            //Declaracion de variables
            let divisionCentroCosto = '';
            let centroCosto = '';
            let idCentroCosto = 0;
            let n;
            //Bonificación
            let totalEstimadoBonificacionDivision = [];
            let totalEstimadoBonificacionDivisionMes = [];
            let totalEstimadoBonificacionCentroCosto = [];
            let totalEstimadoBonificacionCentroCostoMes = [];

            //Dashboard de gestion de Ventas
            $('#linkVenta').on("click", function () {
                window.location.href = "{{ path('dashboardEstimadoPlanVenta') }}";
            });

            //Dashboard de gestion de Otros Ingresos
            $('#linkOtroIngreso').on("click", function () {
                window.location.href = "{{ path('dashboardEstimadoPlanOtroIngreso') }}";
            });

            //Dashboard de Fondo de Salario
            $('#linkSalario').on("click", function () {
                window.location.href = "{{ path('dashboardEstimadoPlanSalario') }}";
            });

            //Dashboard de gestion de Combustible
            $('#linkCombustible').on("click", function () {
                window.location.href = "{{ path('dashboardEstimadoPlanCombustible') }}";
            });

            //Dashboard gestion de Energía
            $('#linkEnergia').on("click", function () {
                window.location.href = "{{ path('dashboardEstimadoPlanEnergia') }}";
            });

            //Dashboard gestion de Otros Gastos
            $('#linkOtroGastos').on("click", function () {
                window.location.href = "{{ path('dashboardEstimadoPlanOtrosGastos') }}";
            });

            //Dashboard de gestion de Materias Primas
            $('#linkMateriasPrimas').on("click", function () {
                window.location.href = "{{ path('dashboardEstimadoPlanMateriasPrimas') }}";
            });

            //Dashboard de gestion de Amortización
            $('#linkAmortizacion').on("click", function () {
                window.location.href = "{{ path('dashboardEstimadoPlanAmortizacion') }}";
            });

            //Dashboard de Gasto Material
            $('#linkGastoMaterial').on("click", function () {
                window.location.href = "{{ path('dashboardEstimadoPlanGastoMaterial') }}";
            });

            //Dashboard de Gasto Material
            $('#linkDepreciacion').on("click", function () {
                window.location.href = "{{ path('dashboardEstimadoPlanDepreciacion') }}";
            });

            //Dashboard de gestion de Gastos de comedor
            $('#linkComedor').on("click", function () {
                window.location.href = "{{ path('dashboardEstimadoPlanComedor') }}";
            });

            //Dashboard de gestion de Depreciación
            $('#linkBonificacion').on("click", function () {
                $('#dashboardBonificacion').css("display", "block");
                graficoTotalEstimadoBonificacionDivision();
                graficoTotalEstimadoBonificacionDivisionMes();
            });

            $('#btnAtrasBonificacion').on("click", function () {
                $('#btnAtrasBonificacion').addClass('hidden');
                graficoTotalEstimadoBonificacionDivision();
                inicioMensualBonificacion();
                graficoTotalEstimadoBonificacionDivisionMes();
                $('#nameBonificacionMostrar').text(' DISTRIBUCIÓN DEL PLAN DE BONIFICACIÓN POR DIVISIONES');
                $('#nameBonificacionMensual').text(' DISTRIBUCIÓN MENSUAL DEL PLAN DE BONIFICACIÓN');
            });

            //Grafico principal de ventas por divisiones
            {% for graficoTotal in graficosTotalesEstimadosDivisionesBonificaciones %}
                    totalEstimadoBonificacionDivision.push({
                        name: '{{ graficoTotal['nombre'] }}',
                        y: parseInt('{{ graficoTotal['totalBonificacion'] }}')
                    });
            {% endfor %}

            //Grafico principal de ventas por meses
            {% for graficoTotal in graficosTotalesEstimadosMesesBonificaciones %}
                    totalEstimadoBonificacionDivisionMes.push({
                        name: '{{ graficoTotal['mes'] }}',
                        y: parseInt('{{ graficoTotal['presupuesto'] }}')
                    });
            {% endfor %}

            $('#dashboardBonificacion').css("display", "block");
            graficoTotalEstimadoBonificacionDivision();
            graficoTotalEstimadoBonificacionDivisionMes();

            //Inicio grafico mensual de ventas
            function inicioMensualBonificacion() {
                totalEstimadoBonificacionDivisionMes = [];
                {% for graficoTotal in graficosTotalesEstimadosMesesBonificaciones %}
                        totalEstimadoBonificacionDivisionMes.push({
                        name: '{{ graficoTotal['mes'] }}',
                        y: parseInt('{{ graficoTotal['presupuesto'] }}')
                        });
                {% endfor %}
            }

            //Grafico general Plan de Ventas por divisiones
            function graficoTotalEstimadoBonificacionDivision() {
                let valorMax = totalEstimadoBonificacionDivision.length - 1;
                let valorScrollbar = false;
                if (totalEstimadoBonificacionDivision.length > 6) {
                    valorMax = 5;
                    valorScrollbar = true;
                }
                Highcharts.chart('graficoBonificacion', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: null
                    },
                    exporting: {
                        enabled: false
                    },
                    scrollbar: {
                        enabled: valorScrollbar,
                        liveRedraw: true,
                        step: 1
                    },
                    xAxis: {
                        type: 'category',
                        min: 0,
                        max: valorMax,
                        useHTML: true
                    },
                    yAxis: {
                        title: {
                            text: 'Presupuesto Estimado',
                            useHTML: true
                        }

                    },
                    legend: {
                        enabled: false
                    },
                    plotOptions: {
                        series: {
                            borderWidth: 0,
                            allowPointSelect: true,
                            cursor: 'pointer',
                            getExtremesFromAll: true,
                            dataLabels: {
                                enabled: true,
                                formatter: function () {
                                    return Highcharts.numberFormat(this.y, 0, ',', '.');
                                }
                            }
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                        pointFormat: '<span style="color:{point.color}">{point.name}</span>' + ' presupuesto asignado ' + '<b>{point.y:,.0f}</b>'
                    },

                    "series": [
                        {
                            "name": "Categorías",
                            "colorByPoint": true,
                            "data": totalEstimadoBonificacionDivision,
                            events: {
                                click: function (oEvent) {
                                    cargarDivisionBonificacion(oEvent.point.name, oEvent.point.y, oEvent.point.color);
                                }
                            }
                        }
                    ],
                    responsive: {
                        rules: [{
                            condition: {
                                maxWidth: 800
                            },
                            chartOptions: {
                                scrollbar: {
                                    enabled: true
                                },
                                xAxis: {
                                    min: 0,
                                    max: 1,
                                    useHTML: true
                                }
                            }
                        }]
                    }
                });
            }

            //Cargar el plan de ventas de la division seleccionada
            function cargarDivisionBonificacion(categoria, presupuesto, colorSeleccionado) {

                let idDivisionCentroCosto = '';

                //mostrar el total del presupuesto
                {% for division in divisionCentrosCostos %}
                    divisionCentroCosto = '{{ division.nombre }}';
                    if (divisionCentroCosto === categoria) {
                        idDivisionCentroCosto = {{ division.id }};
                    }
                {% endfor %}

                //mostrar si existe el grafico mensual

                $(".preload").removeClass('hidden');

                let mat_datos = {
                    idPlanEstimado: {{ app.session.get('idPlanEstimado') }},
                    division: idDivisionCentroCosto
                };

                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: '{{ path("dashboardBonificacionEstimadoDivisionMensual") }}',
                    data: mat_datos
                }).done(function (data) {

                    $(".preload").addClass('hidden');
                    let obj = JSON.parse(data);
                    let divisionMensual = obj['divisionMensual'];
                    let divisionCantroCosto = obj['divisionCentroCosto'];

                    totalEstimadoBonificacionDivisionMes = [];
                    for (n = 0; n < divisionMensual.length; n++) {
                        totalEstimadoBonificacionDivisionMes.push({
                            name: divisionMensual[n]['mes'],
                            y: parseFloat(divisionMensual[n]['totalBonificacion']),
                            color: colorSeleccionado
                        });
                    }

                    totalEstimadoBonificacionCentroCosto = [];
                    for (n = 0; n < divisionCantroCosto.length; n++) {
                        totalEstimadoBonificacionCentroCosto.push({
                            name: divisionCantroCosto[n]['nombre'],
                            y: parseFloat(divisionCantroCosto[n]['totalBonificacion']),
                            color: colorSeleccionado
                        });
                    }

                    $('#nameBonificacionMostrar').text(' DISTRIBUCIÓN DEL PLAN DE BONIFICACIÓN EN LOS CENTROS DE COSTOS DE LA ' + categoria);
                    $('#nameBonificacionMensual').text(' DISTRIBUCIÓN MENSUAL DEL PLAN DE BONIFICACIÓN EN LA ' + categoria);
                    $('#btnAtrasBonificacion').removeClass('hidden');

                    graficoTotalEstimadoBonificacionDivisionMes();
                    graficoTotalEstimadoBonificacionCentroCosto();

                });
            }

            //Grafico Plan de Ventas Mensual por divisiones
            function graficoTotalEstimadoBonificacionDivisionMes() {
                let valorMax = totalEstimadoBonificacionDivisionMes.length - 1;
                let valorScrollbar = false;
                if (totalEstimadoBonificacionDivisionMes.length > 6) {
                    valorMax = 5;
                    valorScrollbar = true;
                }
                Highcharts.chart('graficoBonificacionMensual', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: null
                    },
                    exporting: {
                        enabled: false
                    },
                    scrollbar: {
                        enabled: valorScrollbar,
                        liveRedraw: true,
                        step: 1
                    },
                    xAxis: {
                        type: 'category',
                        min: 0,
                        max: valorMax,
                        useHTML: true
                    },
                    yAxis: {
                        title: {
                            text: 'Presupuesto Estimado',
                            useHTML: true
                        }

                    },
                    legend: {
                        enabled: false
                    },
                    plotOptions: {
                        series: {
                            borderWidth: 0,
                            allowPointSelect: true,
                            cursor: 'pointer',
                            getExtremesFromAll: true,
                            dataLabels: {
                                enabled: true,
                                formatter: function () {
                                    return Highcharts.numberFormat(this.y, 0, ',', '.');
                                }
                            }
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                        pointFormat: '<span style="color:{point.color}">{point.name}</span>' + ' presupuesto asignado ' + '<b>{point.y:,.0f}</b>'
                    },

                    "series": [
                        {
                            "name": "Categorías",
                            "colorByPoint": true,
                            "data": totalEstimadoBonificacionDivisionMes
                        }
                    ],
                    responsive: {
                        rules: [{
                            condition: {
                                maxWidth: 800
                            },
                            chartOptions: {
                                scrollbar: {
                                    enabled: true
                                },
                                xAxis: {
                                    min: 0,
                                    max: 1,
                                    useHTML: true
                                }
                            }
                        }]
                    }
                });
            }

            //Cargar el plan de ventas de la division seleccionada
            function cargarCentroCostoBonificacion(categoria, presupuesto, colorSeleccionado) {

                //mostrar el total del presupuesto
                {% for centro in centrosCostos %}
                    centroCosto = '{{ centro.nombre }}';
                    if (centroCosto === categoria) {
                        idCentroCosto = {{ centro.id }};
                    }
                {% endfor %}

                //mostrar si existe el grafico mensual

                $(".preload").removeClass('hidden');

                let mat_datos = {
                    idPlanEstimado: {{ app.session.get('idPlanEstimado') }},
                    centro: idCentroCosto
                };

                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: '{{ path("dashboardBonificacionEstimadoCentroCostoMensual") }}',
                    data: mat_datos
                }).done(function (data) {

                    $(".preload").addClass('hidden');
                    let obj = JSON.parse(data);

                    totalEstimadoBonificacionCentroCostoMes = [];
                    for (n = 0; n < obj.length; n++) {
                        totalEstimadoBonificacionCentroCostoMes.push({
                            name: obj[n]['mes'],
                            y: parseFloat(obj[n]['totalBonificacion']),
                            color: colorSeleccionado
                        });
                    }

                    $('#nameBonificacionMensual').text(' DISTRIBUCIÓN MENSUAL DEL PLAN DE BONIFICACIÓN EN EL ' + categoria);
                    $('#btnAtrasBonificacion').removeClass('hidden');

                    graficoTotalEstimadoBonificacionCentroCostoMes();

                });
            }

            //Grafico 2do nivel Plan de Ventas por centro de costos
            function graficoTotalEstimadoBonificacionCentroCosto() {
                let valorMax = totalEstimadoBonificacionCentroCosto.length - 1;
                let valorScrollbar = false;
                if (totalEstimadoBonificacionCentroCosto.length > 6) {
                    valorMax = 5;
                    valorScrollbar = true;
                }
                Highcharts.chart('graficoBonificacion', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: null
                    },
                    exporting: {
                        enabled: false
                    },
                    scrollbar: {
                        enabled: valorScrollbar,
                        liveRedraw: true,
                        step: 1
                    },
                    xAxis: {
                        type: 'category',
                        min: 0,
                        max: valorMax,
                        useHTML: true
                    },
                    yAxis: {
                        title: {
                            text: 'Presupuesto Estimado',
                            useHTML: true
                        }

                    },
                    legend: {
                        enabled: false
                    },
                    plotOptions: {
                        series: {
                            borderWidth: 0,
                            allowPointSelect: true,
                            cursor: 'pointer',
                            getExtremesFromAll: true,
                            dataLabels: {
                                enabled: true,
                                formatter: function () {
                                    return Highcharts.numberFormat(this.y, 0, ',', '.');
                                }
                            }
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                        pointFormat: '<span style="color:{point.color}">{point.name}</span>' + ' presupuesto asignado ' + '<b>{point.y:,.0f}</b>'
                    },

                    "series": [
                        {
                            "name": "Categorías",
                            "colorByPoint": true,
                            "data": totalEstimadoBonificacionCentroCosto,
                            events: {
                                click: function (oEvent) {
                                    cargarCentroCostoBonificacion(oEvent.point.name, oEvent.point.y, oEvent.point.color);
                                }
                            }
                        }
                    ],
                    responsive: {
                        rules: [{
                            condition: {
                                maxWidth: 800
                            },
                            chartOptions: {
                                scrollbar: {
                                    enabled: true
                                },
                                xAxis: {
                                    min: 0,
                                    max: 1,
                                    useHTML: true
                                }
                            }
                        }]
                    }
                });
            }

             //Grafico mensual plan de ventas del centro de costo seleccionado
            function graficoTotalEstimadoBonificacionCentroCostoMes() {
                let valorMax = totalEstimadoBonificacionCentroCostoMes.length - 1;
                let valorScrollbar = false;
                if (totalEstimadoBonificacionCentroCostoMes.length > 6) {
                    valorMax = 5;
                    valorScrollbar = true;
                }
                Highcharts.chart('graficoBonificacionMensual', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: null
                    },
                    exporting: {
                        enabled: false
                    },
                    scrollbar: {
                        enabled: valorScrollbar,
                        liveRedraw: true,
                        step: 1
                    },
                    xAxis: {
                        type: 'category',
                        min: 0,
                        max: valorMax,
                        useHTML: true
                    },
                    yAxis: {
                        title: {
                            text: 'Presupuesto Estimado',
                            useHTML: true
                        }

                    },
                    legend: {
                        enabled: false
                    },
                    plotOptions: {
                        series: {
                            borderWidth: 0,
                            allowPointSelect: true,
                            cursor: 'pointer',
                            getExtremesFromAll: true,
                            dataLabels: {
                                enabled: true,
                                formatter: function () {
                                    return Highcharts.numberFormat(this.y, 0, ',', '.');
                                }
                            }
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                        pointFormat: '<span style="color:{point.color}">{point.name}</span>' + ' presupuesto asignado ' + '<b>{point.y:,.0f}</b>'
                    },

                    "series": [
                        {
                            "name": "Categorías",
                            "colorByPoint": true,
                            "data": totalEstimadoBonificacionCentroCostoMes
                        }
                    ],
                    responsive: {
                        rules: [{
                            condition: {
                                maxWidth: 800
                            },
                            chartOptions: {
                                scrollbar: {
                                    enabled: true
                                },
                                xAxis: {
                                    min: 0,
                                    max: 1,
                                    useHTML: true
                                }
                            }
                        }]
                    }
                });
            }

            //Fin del dashboard de la gestion de Bonificación


        });
    </script>

{% endblock %}