{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('easyadmin/tema/select2/select2-bootstrap.min.css') }}"/>
{% endblock %}

{% block info %}
    <div class="row counters">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            {% if totalEstimadoEnergia == 0 %}
                <div class="dashboard-stat grey">
            {% else  %}
                <div class="dashboard-stat  {{ porcientoDivisionMensual != 100 ? 'red-flamingo' : 'green-haze' }}">
            {% endif %}
                <div class="visual">
                    <i class="icon icon-bulb"></i>
                </div>
                <div class="details">
                    <div class="number" data-toggle="counter-up" id="nameMontoEstimado">
                        {{ totalEstimadoEnergia|number_format(0, '.', ',') }}
                    </div>
                    <div class="desc">
                        <strong>KW ESTIMADO</strong>
                    </div>
                </div>
            </div>
        </div>
        {% if aprobarEstimadoEnergiaDivision == false %}
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <div class="dashboard-stat {{ (totalEstimadoEnergia - totalEstimadoDivisionEnergia) == 0 ? 'grey' : 'red-flamingo' }}"
                     id="nameMontoRestanteMostrar">
                    <div class="visual">
                        <i class="icon icon-bulb"></i>
                    </div>
                    <div class="details">
                        <div class="number" data-toggle="counter-up" id="nameMontoRestante">
                            {{ (totalEstimadoEnergia - totalEstimadoDivisionEnergia)|number_format(0, '.', ',') }}
                        </div>
                        <div class="desc">
                            <strong>ESTIMADO RESTANTE</strong>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-lg-3 col-md-5 col-sm-5 col-xs-5">
                <div class="dashboard-stat grey-cararra" style="display:none" id="nameMontoRestanteDivisionMostrar">
                    <div class="visual">
                        <i class="icon icon-bulb"></i>
                    </div>
                    <div class="details">
                        <div class="number" data-toggle="counter-up" id="nameMontoRestanteDivision">
                        </div>
                        <div class="desc">
                            <strong>ESTIMADO RESTANTE DE LA DIVISIÓN</strong>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <div class="dashboard-stat grey }}"
                 id="namePrecioMostrar">
                <div class="visual">
                    <i class="fa fa-money"></i>
                </div>
                <div class="details">
                    <div class="number" id="namePrecio">
                        {{ precio }}
                    </div>
                    <div class="desc">
                        <strong>PRECIO DEL KW</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="preload hidden">
        <div class="logo"></div>
        <div class="loader-frame">
            <div class="loader1" id="loader1"></div>
            <div class="loader2" id="loader2"></div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="portlet light estilosForm">
            <div class="portlet-title">
                <div class="caption font-green">
                    <i class="fa fa-folder-open font-green"></i>
                    <span class="caption-subject bold uppercase">PLAN DE ENERGÍA POR DIVISIÓN</span>
                    <span id="nameSeccionHelp" class="caption-helper bold uppercase" id="year">{{ yearActivo }}</span>
                    {% if aprobarEstimadoEnergiaDivision == true %}
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                 aria-valuemin="0" aria-valuemax="100" style="width: {{ porcientoDivisionMensual }}%">
                                <span class="sr-only-focusable">{{ porcientoDivisionMensual }}% DISTRIBUCIÓN MENSUAL  </span>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="tools">
                    <a href="#" class="reload" id="btnAtrasDivision" data-placement="top"
                       data-original-title="Reiniciar">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <ul class="nav nav-tabs nav-pills">
                    <li class="active">
                        <a href="#totalDivision" data-toggle="tab">
                            PRESUPUESTO ESTIMADO POR DIVISIÓN </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="totalDivision">
                        <form role="form" id="formTotalDivision">
                            <div class="form-body">
                                <div class="row">
                                    {% if aprobarEstimadoEnergiaDivision == false %}
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <div class="portlet">
                                                <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top: 40px">
                                                    <div class="form-group form-md-line-input">
                                                        <select class="form-control" id="categoriaCentroCosto"
                                                                name="categoriaCentroCosto">
                                                            <option value="0">Seleccione ...</option>
                                                            {% for division in  divisionCentrosCostos %}
                                                                <option value="{{ division.id }}">{{ division.nombre }}</option>
                                                            {% endfor %}
                                                        </select>
                                                        <label for="categoriaCentroCosto">DIVISIÓN</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top: 20px">
                                                    <div class="form-group form-md-line-input input-icon right">
                                                        <i style="color: #111111"></i>
                                                        <input type="text" class="form-control" onkeypress="return filterFloat(event,this);"
                                                               id="totalPresupuestoDivision"
                                                               name="totalPresupuestoDivision">
                                                        <label for="totalPresupuestoDivision">TOTAL DE KW </label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-12" style="margin-top: 20px">
                                                    <div class="form-actions noborder">
                                                        <button type="button"
                                                                class="btn btn-secondary AsignarDivisionEnergia" {{ (totalEstimadoEnergia - totalEstimadoDivisionEnergia) == 0 ? 'disabled' }}>
                                                            Asignar
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-12" style="margin-top: 20px">
                                                    <div class="form-actions noborder">
                                                        <button type="button"
                                                                class="btn btn-secondary ModificarDivisionEnergia"
                                                                disabled>
                                                            Modificar
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-12" style="margin-top: 20px">
                                                    <div class="form-actions noborder">
                                                        <button type="button"
                                                                class="btn btn-secondary AprobarDivisionEnergia" {{ (totalEstimadoEnergia - totalEstimadoDivisionEnergia) != 0 ? 'disabled' }}>
                                                            Aprobar kW
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="{{ aprobarEstimadoEnergiaDivision == false ? 'col-lg-9 col-md-9 col-sm-9' : 'col-lg-12 col-md-12 col-sm-12' }}"
                                         style="overflow-x:auto;margin-top: 20px">
                                        <div class="portlet chart" style="margin-top: 20px"
                                             id="graficoDivisionEnergia"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="totalDivisionMes" style="display:none">
                        <ul class="nav nav-tabs nav-pills">
                            <li class="active uppercase">
                                <a href="#" data-toggle="tab" id="nameTabDivisionMes">
                                    KW ESTIMADO POR MESES </a>
                            </li>
                        </ul>
                        <form role="form" id="formTotalDivisionMes">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="portlet">
                                            <div class="col-lg-2 col-md-2 col-sm-2" style="margin-top: 40px">
                                                <div class="form-group form-md-line-input input-icon right">
                                                    <input type="text" class="form-control mesesDivision" onkeypress="return filterFloat(event,this);"
                                                           id="enero"
                                                           name="enero">
                                                    <label for="enero">Ene.</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-2" style="margin-top: 40px">
                                                <div class="form-group form-md-line-input input-icon right">
                                                    <input type="text" class="form-control mesesDivision" onkeypress="return filterFloat(event,this);"
                                                           id="febrero"
                                                           name="febrero">
                                                    <label for="febrero">Feb.</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-2" style="margin-top: 40px">
                                                <div class="form-group form-md-line-input input-icon right">
                                                    <input type="text" class="form-control mesesDivision" onkeypress="return filterFloat(event,this);"
                                                           id="marzo"
                                                           name="marzo">
                                                    <label for="marzo">Mar.</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-2" style="margin-top: 40px">
                                                <div class="form-group form-md-line-input input-icon right">
                                                    <input type="text" class="form-control mesesDivision" onkeypress="return filterFloat(event,this);"
                                                           id="abril"
                                                           name="abril">
                                                    <label for="abril">Abr.</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-2" style="margin-top: 40px">
                                                <div class="form-group form-md-line-input input-icon right">
                                                    <input type="text" class="form-control mesesDivision" onkeypress="return filterFloat(event,this);"
                                                           id="mayo"
                                                           name="mayo">
                                                    <label for="mayo">May.</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-2" style="margin-top: 40px">
                                                <div class="form-group form-md-line-input input-icon right">
                                                    <input type="text" class="form-control mesesDivision" onkeypress="return filterFloat(event,this);"
                                                           id="junio"
                                                           name="junio">
                                                    <label for="junio">Jun.</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="portlet">
                                            <div class="col-lg-2 col-md-2 col-sm-2" style="margin-top: 20px">
                                                <div class="form-group form-md-line-input input-icon right">
                                                    <input type="text" class="form-control mesesDivision" onkeypress="return filterFloat(event,this);"
                                                           id="julio"
                                                           name="julio">
                                                    <label for="julio">Jul.</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-2" style="margin-top: 20px">
                                                <div class="form-group form-md-line-input input-icon right">
                                                    <input type="text" class="form-control mesesDivision" onkeypress="return filterFloat(event,this);"
                                                           id="agosto"
                                                           name="agosto">
                                                    <label for="agosto">Ago.</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-2" style="margin-top: 20px">
                                                <div class="form-group form-md-line-input input-icon right">
                                                    <input type="text" class="form-control mesesDivision" onkeypress="return filterFloat(event,this);"
                                                           id="septiembre"
                                                           name="septiembre">
                                                    <label for="septiembre">Sep.</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-2" style="margin-top: 20px">
                                                <div class="form-group form-md-line-input input-icon right">
                                                    <input type="text" class="form-control mesesDivision" onkeypress="return filterFloat(event,this);"
                                                           id="octubre"
                                                           name="octubre">
                                                    <label for="octubre">Oct.</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-2" style="margin-top: 20px">
                                                <div class="form-group form-md-line-input input-icon right">
                                                    <input type="text" class="form-control mesesDivision" onkeypress="return filterFloat(event,this);"
                                                           id="noviembre"
                                                           name="noviembre">
                                                    <label for="noviembre">Nov.</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-2" style="margin-top: 20px">
                                                <div class="form-group form-md-line-input input-icon right">
                                                    <input type="text" class="form-control mesesDivision" onkeypress="return filterFloat(event,this);"
                                                           id="diciembre"
                                                           name="diciembre">
                                                    <label for="diciembre">Dic.</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                        <div class="portlet">
                                            <div class="col-lg-1 col-md-1 col-sm-12" style="margin-top: 50px">
                                                <div class="form-actions noborder">
                                                    <button type="button"
                                                            class="btn btn-secondary AprobarDivisionMes" disabled>
                                                        Aprobar
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="portlet">
                                            <div class="col-lg-1 col-md-1 col-sm-12" style="margin-top: 50px">
                                                <div class="form-actions noborder">
                                                    <button type="button"
                                                            class="btn btn-secondary AplicarDivisionMes" disabled>
                                                        Aplicar sugerencia
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- BEGIN GRAFICOS HIGHSTOCK LEVEL PLUGINS -->
    <script src="{{ asset('easyadmin/plugins/highstock/code/highstock.js') }}"></script>
    <script src="{{ asset('easyadmin/plugins/highstock/code/modules/annotations.js') }}"></script>
    <script src="{{ asset('easyadmin/plugins/highstock/code/modules/exporting.js') }}"></script>
    <script src="{{ asset('easyadmin/plugins/highstock/code/modules/export-data.js') }}"></script>
    <script src="{{ asset('easyadmin/plugins/highstock/code/modules/export-clientside.js') }}"></script>
    <!-- END  GRAFICOS HIGHSTOCK LEVEL PLUGINS -->
    <script src="{{ asset('easyadmin/plantilla1/js/waypoints.min.js') }}"></script>
    <script src="{{ asset('easyadmin/plantilla1/js/counterup.min.js') }}"></script>
    <script src="{{ asset('easyadmin/tema/select2/select2.full.min.js') }}"></script>
    <script>
        $(document).ready(function () {

            (function () {
                {% if not (app.session.get('aprobarEstimadoEnergia')) and is_granted("ROLE_DISTRIBUIDOR_DIVISION") %}
                window.location.href = "{{ path('login') }}";
                {% else %}
                {% for nivel in app.user.nivelAccesos() if nivel == 'ESTIMADO_ENERGIA' %}
                {% else %}
                window.location.href = "{{ path('login') }}";
                {% endfor %}
                {% endif %}
            })();

            // jQuery counterUp
            $('[data-toggle="counter-up"]').counterUp({
                delay: 10,
                time: 1000
            });

            //--------- abandonar el formulario -----------------
            $('.salir').on('click', function () {
                window.location.href = "{{ path('inicio') }}";

            });

            $('#btnAtrasDivision').on("click", function () {
                window.location.href = "{{ path('gestionarEstimadoPlanEnergiasDivision') }}";
            });

            //funciones de asigancion del presupuesto por divisiones

            //Declaracion de variables
            let nameDivision = [];
            let meses = [];
            let totalEstimadoPresupuestoEnergiaDivision = [];
            let totalEstimadoKWDivision = [];
            let totalEstimadoPresupuestoEnergiaDivisionMes = [];
            let totalEstimadoKWDivisionMes = [];
            let montoRestante = 0;
            let montoRestanteDivision = 0;
            let montoTotal = 0;
            let montoAnterior = 0;
            let divisionCentroCosto = '';
            let idDivisionCentroCosto = '';
            let precio = 0;
            let presupuesto = 0;
            let n;
            let estimadoMes = 0;
            let restanteMes = 0;

            //Arreglo para el grafico de presupuesto asignado por Categorias del plan de Energia activo
            {% for graficoTotal in graficosTotalesEstimadosDivisionesEnergias %}
                    nameDivision.push('{{ graficoTotal['nombre'] }}');
                    totalEstimadoPresupuestoEnergiaDivision.push(parseFloat({{ graficoTotal['totalEnergiaPresupuesto'] }}));
                    totalEstimadoKWDivision.push(parseInt({{ graficoTotal['totalKWDivision'] }}));
            {% endfor %}

            (function () {
                graficoTotalEstimadoEnergiaDivision();
            })();

            //Cargar el presupuesto estimado de la division seleccionada
            function cargarDivision(categoria, presupuesto, colorSeleccionado) {

                //mostrar el total del presupuesto
                {% for division in divisionCentrosCostos %}
                divisionCentroCosto = '{{ division.nombre }}';
                if (divisionCentroCosto === categoria) {
                    {% if aprobarEstimadoEnergiaDivision == false %}
                    $('#categoriaCentroCosto').val('{{ division.id }}');
                    {% endif %}
                    idDivisionCentroCosto = {{ division.id }};
                }
                {% endfor %}

                {% if aprobarEstimadoEnergiaDivision == false %}
                $('#totalPresupuestoDivision').val(presupuesto);
                montoAnterior = parseInt(presupuesto);
                $('#categoriaCentroCosto').prop("disabled", true);
                $('.AsignarDivisionEnergia').prop("disabled", true);
                $('.ModificarDivisionEnergia').prop("disabled", false);
                $('.AprobarDivisionEnergia').prop("disabled", false);

                {% else %}

                //mostrar si existe el grafico mensual

                $('#nameMontoEstimado').text(Highcharts.numberFormat(presupuesto, 0, '.', ','));

                $(".preload").removeClass('hidden');

                var mat_datos = {
                    idPlanEstimado: {{ planEstimado }},
                    division: idDivisionCentroCosto
                };

                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: '{{ path("graficoEnergiaEstimadoDivisionMensual") }}',
                    data: mat_datos
                }).done(function (data) {

                    $(".preload").addClass('hidden');
                    var obj = JSON.parse(data);

                    meses = [];
                    totalEstimadoPresupuestoEnergiaDivisionMes = [];
                    totalEstimadoKWDivisionMes = [];
                    for (n = 0; n < obj.length; n++) {
                        meses.push(obj[n]['mes']);
                        totalEstimadoPresupuestoEnergiaDivisionMes.push(parseFloat(obj[n]['totalEnergiaPresupuesto']));
                        totalEstimadoKWDivisionMes.push(parseInt(obj[n]['totalKWDivisionMes']));
                    }

                    estimadoMes = Math.floor(parseInt(presupuesto) / 12);
                    restanteMes = Math.floor(parseInt(presupuesto) - (estimadoMes * 12));

                    if (totalEstimadoPresupuestoEnergiaDivisionMes.length === 0) {
                        $('#nameMontoRestanteDivision').text(Highcharts.numberFormat(presupuesto, 0, '.', ','));
                        $('#nameTabDivisionMes').text('KW ESTIMADO POR MESES - ' + (categoria));
                        $('#nameMontoRestanteMostrar').css("display", "none");
                        $('#nameMontoRestanteDivisionMostrar').css("display", "block");
                        $('#totalDivisionMes').css("display", "block");
                        $('.mesesDivision').prop("placeholder", estimadoMes);
                        $('.AplicarDivisionMes').prop("disabled", false);
                    } else {
                        $('#nameMontoRestanteDivision').text(0);
                        $('#nameMontoRestanteMostrar').css("display", "block");
                        $('#nameMontoRestanteDivisionMostrar').css("display", "none");
                        $('#totalDivisionMes').css("display", "none");
                        $('.AplicarDivisionMes').prop("disabled", true);
                        graficoTotalEstimadoEnergiaDivisionMes();
                    }

                    montoRestanteDivision = parseInt(presupuesto);
                });
                {% endif %}
            }

            $('.AplicarDivisionMes').on('click', function () {
                if (estimadoMes !== 0) {
                    $('.mesesDivision').prop("value", estimadoMes);
                    $('.AplicarDivisionMes').prop("disabled", true);
                    $('#nameMontoRestanteDivision').text(Highcharts.numberFormat(restanteMes, 0, '.', ','));
                    if (restanteMes === 0) {
                        $('.AprobarDivisionMes').prop("disabled", false);
                    }
                }
            });

            //Grafico general Total presupuesto Estimado por divisiones
            function graficoTotalEstimadoEnergiaDivision() {
                var valorMax = totalEstimadoKWDivision.length - 1;
                var valorScrollbar = false;
                if (totalEstimadoKWDivision.length > 6) {
                    valorMax = 5;
                    valorScrollbar = true;
                }
                Highcharts.chart('graficoDivisionEnergia', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: null
                    },
                    exporting: {
                        enabled: false
                    },
                    scrollbar: {
                        enabled: valorScrollbar,
                        liveRedraw: true,
                        step: 1
                    },
                    xAxis: {
                        categories: nameDivision,
                        min: 0,
                        max: valorMax,
                        useHTML: true
                    },
                    yAxis: {
                        title: {
                            text: 'Total de kW estimados',
                            align: 'middle',
                            useHTML: true
                        },
                        stackLabels: {
                            enabled: true,
                            style: {
                                fontWeight: 'bold'
                            }
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    plotOptions: {
                        column: {
                            stacking: 'percent',
                            dataLabels: {
                                enabled: true
                            }
                        },
                        series: {
                            borderWidth: 0,
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                formatter: function () {
                                    return Highcharts.numberFormat(this.y, 0, '.', ',');
                                }
                            }
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:11px"><b>{point.x}</b></span><br>',
                        pointFormat: '<span style="color:{point.color}">{series.name}</span>: <b>{point.y:,.0f}</b>'
                    },

                    "series": [
                        {
                            "name": "Total de kW",
                            "data": totalEstimadoKWDivision,
                            events: {
                                click: function (oEvent) {
                                    cargarDivision(oEvent.point.category, oEvent.point.y, oEvent.point.color);
                                }
                            }
                        },
                        {
                            "name": "Total de presupuesto",
                            "data": totalEstimadoPresupuestoEnergiaDivision
                        }
                    ],
                    responsive: {
                        rules: [{
                            condition: {
                                maxWidth: 500
                            },
                            chartOptions: {
                                scrollbar: {
                                    enabled: true
                                },
                                xAxis: {
                                    min: 0,
                                    max: 1,
                                    useHTML: true
                                }
                            }
                        }]
                    }
                });
            }

            $('.AsignarDivisionEnergia').on('click', function () {

                if ($("#categoriaCentroCosto").val() === '0') {
                    alertify.alert('<strong>La división es obligatoria, no puede quedar en blanco.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label', 'Aceptar');
                    return false;
                }

                if ($("#totalPresupuestoDivision").val() === '') {
                    alertify.alert('<strong>El total de kW es obligatorio, no puede quedar en blanco.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label', 'Aceptar');
                    return false;
                }

                montoRestante = {{ totalEstimadoEnergia - totalEstimadoDivisionEnergia }};

                if (parseInt($("#totalPresupuestoDivision").val()) > montoRestante) {
                    alertify.alert('<strong>El total de kW no puede ser mayor que el total restante.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label', 'Aceptar');
                    return false;
                }

                precio = parseFloat({{ precio }});

                if (precio === 0) {
                    alertify.alert('<strong>Debe establecer el precio del kW.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label', 'Aceptar');
                    return false;
                }else {
                    presupuesto = parseInt($("#totalPresupuestoDivision").val()) * precio;
                }

                $(".preload").removeClass('hidden');

                var mat_datos = {
                    presupuesto: presupuesto,
                    kW: $("#totalPresupuestoDivision").val(),
                    idPlanEstimado: {{ planEstimado }},
                    division: $("#categoriaCentroCosto").val()
                };
                $.ajax({
                    type: "POST",
                    dataType: "html",
                    url: '{{ path("insertTotalEstimadoDivisionEnergia") }}',
                    data: mat_datos
                }).done(function (data) {

                    $(".preload").addClass('hidden');
                    if (data === 'ok') {

                        alertify.alert('<strong>El total de kW estimado para esta división ha sido distribuido correctamente</strong>')
                            .setHeader('<span class="glyphicon glyphicon-ok-circle" style="font-size: 20px"></span>' +
                                '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Confirmación</h4>')
                            .set('label', 'Aceptar')
                            .set('onok', function () {
                                window.location.href = "{{ path('gestionarEstimadoPlanEnergiasDivision') }}";
                            });
                    } else {
                        alertify.alert('<strong>' + data + '</strong>')
                            .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                                '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                            .set('label', 'Aceptar')
                            .set('onok', function () {
                                window.location.href = "{{ path('gestionarEstimadoPlanEnergiasDivision') }}";
                            });
                    }
                });

            });

            $('.ModificarDivisionEnergia').on('click', function () {

                if ($("#categoriaCentroCosto").val() === '0') {
                    alertify.alert('<strong>La división es obligatoria, no puede quedar en blanco.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label', 'Aceptar');
                    return false;
                }

                if ($("#totalPresupuestoDivision").val() === '') {
                    alertify.alert('<strong>El total de kW es obligatorio, no puede quedar en blanco.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label', 'Aceptar');
                    return false;
                }

                montoRestante = {{ totalEstimadoEnergia - totalEstimadoDivisionEnergia }};

                if (montoRestante === 0) {
                    if (parseInt($("#totalPresupuestoDivision").val()) > montoAnterior) {
                        alertify.alert('<strong>El total de kW no puede ser mayor que el monto disponible.</strong>')
                            .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                                '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                            .set('label', 'Aceptar');
                        return false;
                    }
                } else {
                    if (parseInt($("#totalPresupuestoDivision").val()) > (montoAnterior + montoRestante)) {
                        alertify.alert('<strong>El total de kW no puede ser mayor que el monto restante.</strong>')
                            .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                                '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                            .set('label', 'Aceptar');
                        return false;
                    }
                }

                precio = parseFloat({{ precio }});

                if (precio === 0) {
                    alertify.alert('<strong>Debe establecer el precio del kW.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label', 'Aceptar');
                    return false;
                }else {
                    presupuesto = parseInt($("#totalPresupuestoDivision").val()) * precio;
                }


                $(".preload").removeClass('hidden');

                var mat_datos = {
                    presupuesto: presupuesto,
                    kW: $("#totalPresupuestoDivision").val(),
                    idPlanEstimado: {{ planEstimado }},
                    division: $("#categoriaCentroCosto").val()
                };
                $.ajax({
                    type: "POST",
                    dataType: "html",
                    url: '{{ path("updateTotalEstimadoDivisionEnergia") }}',
                    data: mat_datos
                }).done(function (data) {

                    $(".preload").addClass('hidden');
                    if (data === 'ok') {

                        alertify.alert('<strong>El total de kW estimado de esta división ha sido modificado correctamente</strong>')
                            .setHeader('<span class="glyphicon glyphicon-ok-circle" style="font-size: 20px"></span>' +
                                '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Confirmación</h4>')
                            .set('label', 'Aceptar')
                            .set('onok', function () {
                                $('#categoriaCentroCosto').prop("disabled", false);
                                if (montoRestante !== 0) {
                                    $('.AsignarDivisionEnergia').prop("disabled", false);
                                }
                                window.location.href = "{{ path('gestionarEstimadoPlanEnergiasDivision') }}";
                            });
                    } else {
                        alertify.alert('<strong>' + data + '</strong>')
                            .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                                '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                            .set('label', 'Aceptar')
                            .set('onok', function () {
                                $('#categoriaCentroCosto').prop("disabled", false);
                                if (montoRestante !== 0) {
                                    $('.AsignarDivisionEnergia').prop("disabled", false);
                                }
                                window.location.href = "{{ path('gestionarEstimadoPlanEnergiasDivision') }}";
                            });
                    }
                });

            });

            $('.AprobarDivisionEnergia').on('click', function () {

                alertify.confirm('Basic: false').set('message', '<strong>Seguro que desea aprobar el total de kW estimado para las divisiones</strong>').set('onok', function () {

                    $(".preload").removeClass('hidden');

                    var mat_datos = {
                        idPlanEstimado: {{ app.session.get('idPlanEstimado') }}
                    };
                    $.ajax({
                        type: "POST",
                        dataType: "html",
                        url: '{{ path("aprobarPresupuestoEstimadoDivisionEnergia") }}',
                        data: mat_datos
                    }).done(function (data) {

                        $(".preload").addClass('hidden');
                        if (data === 'ok') {

                            alertify.alert('<strong>Se aprobó el total de kW estimado para las divisiones</strong>')
                                .setHeader('<span class="glyphicon glyphicon-ok-circle" style="font-size: 20px"></span>' +
                                    '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Confirmación</h4>')
                                .set('label', 'Aceptar')
                                .set('onok', function () {
                                    window.location.href = "{{ path('gestionarEstimadoPlanEnergiasDivision') }}";
                                });
                        } else {
                            alertify.alert('<strong>' + data + '</strong>')
                                .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                                    '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                                .set('label', 'Aceptar')
                        }
                    });
                });

            });

            //fin asignacion del presupuesto total por división

            //funciones distribución del presupuesto mensual por division

            $('.AprobarDivisionMes').on('click', function () {

                if ($('.mesesDivision').val() === '') {
                    alertify.alert('<strong>El total de kW mensual es obligatorio, no puede quedar en blanco.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label', 'Aceptar');
                    return false;
                }

                presupuestoDivisionMeses();

                if (precio === 0) {
                    alertify.alert('<strong>Debe establecer el precio del kW.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label', 'Aceptar');
                    return false;
                }

                $(".preload").removeClass('hidden');

                var mat_datos = {
                    presupuesto: totalEstimadoPresupuestoEnergiaDivisionMes,
                    idPlanEstimado: {{ planEstimado }},
                    idDivisionCentroCosto: idDivisionCentroCosto
                };

                $.ajax({
                    type: "POST",
                    dataType: "html",
                    url: '{{ path("insertTotalEstimadoEnergiaDivisionMes") }}',
                    data: mat_datos
                }).done(function (data) {

                    $(".preload").addClass('hidden');
                    if (data === 'ok') {

                        alertify.alert('<strong>El total de kW mensual para esta división ha sido distribuido correctamente</strong>')
                            .setHeader('<span class="glyphicon glyphicon-ok-circle" style="font-size: 20px"></span>' +
                                '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Confirmación</h4>')
                            .set('label', 'Aceptar')
                            .set('onok', function () {
                                $('#nameMontoRestanteDivisionMostrar').css("display", "none");
                                window.location.href = "{{ path('gestionarEstimadoPlanEnergiasDivision') }}";
                            });
                    } else {
                        alertify.alert('<strong>' + data + '</strong>')
                            .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                                '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                            .set('label', 'Aceptar')
                            .set('onok', function () {
                                window.location.href = "{{ path('gestionarEstimadoPlanEnergiasDivision') }}";
                            });
                    }
                });


            });

            function presupuestoDivisionMeses() {
                totalEstimadoPresupuestoEnergiaDivisionMes = [];
                precio = parseFloat({{ precio }});
                presupuesto = parseInt($("#enero").val()) * precio;
                totalEstimadoPresupuestoEnergiaDivisionMes.push({
                    mes: 'enero',
                    kW: parseInt($("#enero").val()),
                    presupuesto: presupuesto
                });

                presupuesto = parseInt($("#febrero").val()) * precio;
                totalEstimadoPresupuestoEnergiaDivisionMes.push({
                    mes: 'febrero',
                    kW: parseInt($("#febrero").val()),
                    presupuesto: presupuesto
                });

                presupuesto = parseInt($("#marzo").val()) * precio;
                totalEstimadoPresupuestoEnergiaDivisionMes.push({
                    mes: 'marzo',
                    kW: parseInt($("#marzo").val()),
                    presupuesto: presupuesto
                });

                presupuesto = parseInt($("#abril").val()) * precio;
                totalEstimadoPresupuestoEnergiaDivisionMes.push({
                    mes: 'abril',
                    kW: parseInt($("#abril").val()),
                    presupuesto: presupuesto
                });

                presupuesto = parseInt($("#mayo").val()) * precio;
                totalEstimadoPresupuestoEnergiaDivisionMes.push({
                    mes: 'mayo',
                    kW: parseInt($("#mayo").val()),
                    presupuesto: presupuesto
                });

                presupuesto = parseInt($("#junio").val()) * precio;
                totalEstimadoPresupuestoEnergiaDivisionMes.push({
                    mes: 'junio',
                    kW: parseInt($("#junio").val()),
                    presupuesto: presupuesto
                });

                presupuesto = parseInt($("#julio").val()) * precio;
                totalEstimadoPresupuestoEnergiaDivisionMes.push({
                    mes: 'julio',
                    kW: parseInt($("#julio").val()),
                    presupuesto: presupuesto
                });

                presupuesto = parseInt($("#agosto").val()) * precio;
                totalEstimadoPresupuestoEnergiaDivisionMes.push({
                    mes: 'agosto',
                    kW: parseInt($("#agosto").val()),
                    presupuesto: presupuesto
                });

                presupuesto = parseInt($("#septiembre").val()) * precio;
                totalEstimadoPresupuestoEnergiaDivisionMes.push({
                    mes: 'septiembre',
                    kW: parseInt($("#septiembre").val()),
                    presupuesto: presupuesto
                });

                presupuesto = parseInt($("#octubre").val()) * precio;
                totalEstimadoPresupuestoEnergiaDivisionMes.push({
                    mes: 'octubre',
                    kW: parseInt($("#octubre").val()),
                    presupuesto: presupuesto
                });

                presupuesto = parseInt($("#noviembre").val()) * precio;
                totalEstimadoPresupuestoEnergiaDivisionMes.push({
                    mes: 'noviembre',
                    kW: parseInt($("#noviembre").val()),
                    presupuesto: presupuesto
                });

                presupuesto = parseInt($("#diciembre").val()) * precio;
                totalEstimadoPresupuestoEnergiaDivisionMes.push({
                    mes: 'diciembre',
                    kW: parseInt($("#diciembre").val()),
                    presupuesto: presupuesto
                });
            }

            function cargarDivisionMeses() {
                for (n = 0; n < totalEstimadoFondoDivisionMes.length; n++) {
                    switch (totalEstimadoFondoDivisionMes[n]['name']) {
                        case 'enero':
                            $("#enero").val(totalEstimadoPresupuestoEnergiaDivisionMes[n]['y']);
                            break;
                        case 'febrero':
                            $("#febrero").val(totalEstimadoPresupuestoEnergiaDivisionMes[n]['y']);
                            break;
                        case 'marzo':
                            $("#marzo").val(totalEstimadoPresupuestoEnergiaDivisionMes[n]['y']);
                            break;
                        case 'abril':
                            $("#abril").val(totalEstimadoPresupuestoEnergiaDivisionMes[n]['y']);
                            break;
                        case 'mayo':
                            $("#mayo").val(totalEstimadoPresupuestoEnergiaDivisionMes[n]['y']);
                            break;
                        case 'junio':
                            $("#junio").val(totalEstimadoPresupuestoEnergiaDivisionMes[n]['y']);
                            break;
                        case 'julio':
                            $("#julio").val(totalEstimadoPresupuestoEnergiaDivisionMes[n]['y']);
                            break;
                        case 'agosto':
                            $("#agosto").val(totalEstimadoPresupuestoEnergiaDivisionMes[n]['y']);
                            break;
                        case 'septiembre':
                            $("#septiembre").val(totalEstimadoPresupuestoEnergiaDivisionMes[n]['y']);
                            break;
                        case 'octubre':
                            $("#octubre").val(totalEstimadoPresupuestoEnergiaDivisionMes[n]['y']);
                            break;
                        case 'noviembre':
                            $("#noviembre").val(totalEstimadoPresupuestoEnergiaDivisionMes[n]['y']);
                            break;
                        case 'diciembre':
                            $("#diciembre").val(totalEstimadoPresupuestoEnergiaDivisionMes[n]['y']);
                            break;
                    }
                }
            }

            $('.mesesDivision').on("keyup", function () {

                montoTotal = 0;
                if (!Number.isNaN(parseInt($("#enero").val()))) {
                    montoTotal+= parseInt($("#enero").val());
                }
                if (!Number.isNaN(parseInt($("#febrero").val()))) {
                    montoTotal+= parseInt($("#febrero").val());
                }
                if (!Number.isNaN(parseInt($("#marzo").val()))) {
                    montoTotal+= parseInt($("#marzo").val());
                }
                if (!Number.isNaN(parseInt($("#abril").val()))) {
                    montoTotal+= parseInt($("#abril").val());
                }
                if (!Number.isNaN(parseInt($("#mayo").val()))) {
                    montoTotal+= parseInt($("#mayo").val());
                }
                if (!Number.isNaN(parseInt($("#junio").val()))) {
                    montoTotal+= parseInt($("#junio").val());
                }
                if (!Number.isNaN(parseInt($("#julio").val()))) {
                    montoTotal+= parseInt($("#julio").val());
                }
                if (!Number.isNaN(parseInt($("#agosto").val()))) {
                    montoTotal+= parseInt($("#agosto").val());
                }
                if (!Number.isNaN(parseInt($("#septiembre").val()))) {
                    montoTotal+= parseInt($("#septiembre").val());
                }
                if (!Number.isNaN(parseInt($("#octubre").val()))) {
                    montoTotal+= parseInt($("#octubre").val());
                }
                if (!Number.isNaN(parseInt($("#noviembre").val()))) {
                    montoTotal+= parseInt($("#noviembre").val());
                }
                if (!Number.isNaN(parseInt($("#diciembre").val()))) {
                    montoTotal+= parseInt($("#diciembre").val());
                }
                let restante = montoRestanteDivision - montoTotal;

                if ((restante) >= 0) {
                    if ($(this).val() !== '') {
                        $('#nameMontoRestanteDivision').text(Highcharts.numberFormat(restante, 0, '.', ','));
                        if (parseInt(restante) === 0) {
                            $('.AprobarDivisionMes').prop("disabled", false);
                        } else {
                            $('.AprobarDivisionMes').prop("disabled", true);
                            $('.AplicarDivisionMes').prop("disabled", true);
                        }
                    }
                } else {
                    alertify.alert('<strong>No tiene presupuesto disponible.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ok-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Confirmación</h4>')
                        .set('label', 'Aceptar');
                    montoTotal = 0;
                    $('.AprobarDivisionMes').prop("disabled", true);
                    return false;
                }
            });

            //Grafico mensual Total presupuesto Estimado por divisiones
            function graficoTotalEstimadoEnergiaDivisionMes() {
                var valorMax = totalEstimadoPresupuestoEnergiaDivisionMes.length - 1;
                var valorScrollbar = false;
                if (totalEstimadoPresupuestoEnergiaDivisionMes.length > 6) {
                    valorMax = 5;
                    valorScrollbar = true;
                }
                Highcharts.chart('graficoDivisionEnergia', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: null
                    },
                    exporting: {
                        enabled: false
                    },
                    scrollbar: {
                        enabled: valorScrollbar,
                        liveRedraw: true,
                        step: 1
                    },
                    xAxis: {
                        categories: meses,
                        min: 0,
                        max: valorMax,
                        useHTML: true
                    },
                    yAxis: {
                        title: {
                            text: 'Total de kW estimados',
                            align: 'middle',
                            useHTML: true
                        },
                        stackLabels: {
                            enabled: true,
                            style: {
                                fontWeight: 'bold'
                            }
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    plotOptions: {
                        column: {
                            stacking: 'percent',
                            dataLabels: {
                                enabled: true
                            }
                        },
                        series: {
                            borderWidth: 0,
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                formatter: function () {
                                    return Highcharts.numberFormat(this.y, 0, '.', ',');
                                }
                            }
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:11px"><b>{point.x}</b></span><br>',
                        pointFormat: '<span style="color:{point.color}">{series.name}</span>: <b>{point.y:,.0f}</b>'
                    },

                    "series": [
                        {
                            "name": "Total de kW",
                            "data": totalEstimadoKWDivisionMes,
                            events: {
                                click: function () {
                                    cargarDivisionMeses();
                                    $('#nameMontoRestanteDivisionMostrar').css("display", "block");
                                    $('#totalDivisionMes').css("display", "block");
                                }
                            }
                        },
                        {
                            "name": "Total de presupuesto",
                            "data": totalEstimadoPresupuestoEnergiaDivisionMes
                        }
                    ],
                    responsive: {
                        rules: [{
                            condition: {
                                maxWidth: 500
                            },
                            chartOptions: {
                                scrollbar: {
                                    enabled: true
                                },
                                xAxis: {
                                    min: 0,
                                    max: 1,
                                    useHTML: true
                                }
                            }
                        }]
                    }
                });
            }

            // fin funciones distribución del presupuesto mensual por division

        });
    </script>
{% endblock %}